@{
    ViewBag.Title = "Index";
}
<head>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <title>ImportFrom Excel</title>
</head>
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

    .upload {
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .head {
        background-color: greenyellow;
    }

        .head tr th {
            text-align: center;
            font-weight: bold;
        }
</style>
@*<h2>Upload Excel file and Export the excel data to Dropdownlist</h2>*@
<h3>In this Demo You will going to learn how to read and write the data form Excel file</h3>
<span>Any doubt or any feedback regarding this; then visit <a href="https://suryabest.wordpress.com/about/"> My Page </a>and reply me.</span>     

<div class="row" style="padding:15px">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" id="filePathtxt">
        <label class="Flabel">Choose File Path</label>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" id="filePathInput">
       
        @using (Html.BeginForm("UploadFile", "ImportExport", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="text" class="" id="txtfile" for="uploadXML" />
            <i id="btnFileLoad" class="fileUpload fa fa-file pull-right" area-hidden="true" onclick="return fileLoad()" style="margin-top:2px;font-size:21px;position:relative;cursor:pointer;color:forestgreen;left:-172px">

            </i>
            <input type="file" class="upload" name="UploadedFile" id="fileLoadDoc" accept=".xlsx" />
        }
        <table class="table table-bordered table-responsive table-striped">
            <thead class="head">
            </thead>
            <tbody class="body"></tbody>
        </table>
        <label id="message"></label>
    </div>
</div>
<script>
    $(function () {
        $('input[type="file"]').change(function (e) {
            debugger
            var filename = e.target.files[0].name;
            var Files = $("#fileLoadDoc").get(0);
            $("#txtfile").val(filename);
            // $("#btnsbmt").trigger("click");
            formdata = new FormData();
            for (var i = 0; i < e.target.files.length; i++) {
                formdata.append(e.target.files[i].name, e.target.files[i]);
            }
            $.ajax({
                url: '@Url.Action("UploadFile", "ImportExport")',
                type: "POST",
                datatype: "JSON",
                contentType: false,
                processData: false,
                data: formdata,
                success: function (result) {
                    debugger
                    var count = 0;
                    if (result != null) {
                        debugger
                        $("#message").css('color','green').text("Your File has succesfully Loaded !!!")
                        $(".head").empty();
                        $(".body").empty();
                        for (var i = 0; i < result.row; i++) {
                            if (i == 0) {
                                $(".head").append("<tr>");
                            }
                            else {
                                $(".body").append("<tr class='tr"+i+"'>");
                            }
                            for (var j = 0; j < result.col; j++) {
                                if (i==0) {
                                    $(".head tr").append("<th>" + result.data[count] + "</th>");
                                }
                                else
                                {
                                    if (result.data[count]!=null) {
                                        $(".body .tr" + i + "").append("<td>" + result.data[count] + "</td>");
                                    }
                                    else
                                    {
                                        $(".body .tr" + i + "").append("<td></td>");
                                    }
                                }
                                count++;
                            }
                            if (i == 0) {
                                $(".head").append("</tr>");

                            }
                            else
                            {
                                $(".body .tr"+i+"").append("</tr>");
                            }
                        }
                    }
                    else
                    {
                        $("#message").css('color', 'red').text("Your File has failed to Loaded try again!!!")
                    }
                }
            })
        });
    });
    function fileLoad() {
        debugger
        $('#txtfile').val("");
        $('#fileLoadDoc').val("");
        $('#btnFileLoad').val("");
        $("#fileLoadDoc").trigger('click');
    }
</script>
