<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MyCompany.Expenses" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=MyCompany.Expenses;User Id=sa;Password=[password];App=MyCompanyVisitorsWeb;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="ida:Audience" value="http://mycompanyserver/expenses/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CacheEnabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CacheTimespan" value="1800" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.identityModel>
    <identityConfiguration>
      <issuerNameRegistry type="MyCompany.Expenses.Web.SingleTenantIssuerNameRegistry, MyCompany.Expenses.Web" />
      <audienceUris>
        <add value="http://mycompanyserver/expenses/"  xdt:Transform="Replace"/>
      </audienceUris>
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add type="MyCompany.Expenses.Web.CustomJwtSecurityTokenHandler,MyCompany.Expenses.Web" />
        <securityTokenHandlerConfiguration>
          <certificateValidation certificateValidationMode="None" />
        </securityTokenHandlerConfiguration>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://login.windows.net/[tenantname].onmicrosoft.com/wsfed" 
                    realm="http://mycompanyserver/expenses/" 
                    reply="http://mycompanyserver/expenses/"
                    requireHttps="true" xdt:Transform="SetAttributes(realm,reply)"/>
    </federationConfiguration>
  </system.identityModel.services>
</configuration>