@{
    ViewBag.Title = "SHANU Profile";
}

<div class="jumbotron">
    <h1>Shanu Profile Image ..
    
     <img src="@Url.Action("UserPhotos", "Home" )"  style="width:160px;height:160px; background: #FFFFFF;  
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
    </h1>
   
    <h3>Here is the Looged in user Photo.If user not loggedin then we display the ? as image for default image.</h3>
</div>

