body
{
    font-family: Trebuchet MS;
    font-size: 62.5%;
}
.normal
{
    font-size: medium;
}
.small
{
    font-size: 62.5%;
}
div.content
{
    display: none;
}
.header
{
    width: 100%;
    padding: 5px;
}
.editbox
{
    width: 180px;
    margin-left: 5px;
}
td.buttons
{
    text-align: right;
    vertical-align: top;
}
form.properties
{
    text-align: right;
    width: 275px;
}
table.dump
{
    border-collapse:collapse;
}
table.dump, th.dump, td.dump
{
    border: 1px solid black;
}
td.dump
{
    padding:3px;
}
th.dump
{
    background-color:green;
    color:white;
}