/* This selector is used to prevents ui-dark/light.css from overwriting changes to .win-surface. */
.expenseslistpage .groupedexpenseslist .win-horizontal.win-viewport .win-surface {
}

.win-listview .win-container:hover{
    outline: rgba(255, 0, 0, 0.3) solid 3px;
}


.expenseslistpage section[role=main] {
    overflow-y: hidden;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: auto auto;
}

.expenseslistpage .win-container:hover {
    outline: none !important;
    cursor: pointer;
}

.expenseslistpage .item {
    width: 400px;
    height: 158px;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 148px 1fr;
    background-color: #C4C331; 
    border-style: none;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain
}

    .expenseslistpage .item .amount .expenseType {
        display: inline-block;
        padding-left: 27px;
        background-position-x: left;
        background-position-y: bottom;
        background-repeat: no-repeat;
    }

    .expenseslistpage .win-container .item.normal .data-zone
    {
        display: -ms-grid;
        -ms-grid-rows: 30px 25px 1fr 40px;
        -ms-grid-columns: 0.4fr 0.6fr; 
        -ms-grid-column: 2;
        background-color: #C4C331;
        vertical-align: bottom;
        width: 212px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        height: 138px;
    }

        .expenseslistpage .win-container .item.normal .name {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            font-weight: 600;
            font-size: 12pt;
            width: 156px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .expenseslistpage .win-container .item.normal .date {
            -ms-grid-row: 1;
            -ms-grid-column: 2;
            padding-top: 3px;
            text-align: right;
            font-size: 10pt;
        }

        .expenseslistpage .win-container .item.normal .duration {
            -ms-grid-row: 2;
            -ms-grid-column-span: 2;
            background-image: url("/images/clock.png");
            background-repeat: no-repeat;
            background-position: top 2px left 1px;
            padding-left: 25px;
            margin-top: 5px;
            font-size: 11pt;
            vertical-align: text-top;
        }

        .expenseslistpage .win-container .item.normal .status {
            -ms-grid-row: 3;  
            -ms-grid-column: 1;      
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: 16px;
            padding-left: 25px;
            padding-top: 13px;
        }

            .expenseslistpage .win-container .item.normal .status.status4 {
                background-position-x: left 2px;
            }

        .expenseslistpage .win-container .item.normal .amount {
            -ms-grid-row: 4;
            -ms-grid-column-span: 2;
            color: #FFFFFF;
            text-align: right;
        }

        .expenseslistpage .win-container .item.normal .amount .dollar-part{
            font-size: 22pt;
            font-weight: bold;
            line-height:20pt;
            vertical-align:bottom;
        }

        .expenseslistpage .win-container .item.normal .amount .cents-part{
            font-size: 12pt;
            font-weight: bold;
            line-height:13pt;
            vertical-align:bottom;

        }

        .expenseslistpage .win-container .item.normal .amount .dollar-sign{
            font-size: 12pt;
            vertical-align: super;
        }

    .expenseslistpage .win-container .item.total .data-zone
    {
        display: -ms-grid;
        -ms-grid-rows: 30px 25px 1fr 40px;
        -ms-grid-column: 2;
        background-color: #C4C331;
        vertical-align: bottom;
        width: 212px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        height: 138px;
    }

        .expenseslistpage .win-container .item.total .name {
            -ms-grid-row: 1;
            font-size: 16pt;
            width: 212px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .expenseslistpage .win-container .item.total .jobTitle {
            -ms-grid-row: 2;
            font-size: 12pt;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .expenseslistpage .win-container .item.total .amount-title {
            -ms-grid-row: 3;
            padding-top: 25px;
        }

        .expenseslistpage .win-container .item.total .amount {
            -ms-grid-row: 4;
            color: #FFFFFF;
            text-align: right;
        }

        .expenseslistpage .win-container .item.total .amount .dollar-part{
            -ms-grid-row: 4;
            font-size: 22pt;
            font-weight: bold;
        }

        .expenseslistpage .win-container .item.total .amount .cents-part{
            -ms-grid-row: 4;
            font-size: 16pt;
            font-weight: bold;
        }

        .expenseslistpage .win-container .item.total .amount .dollar-sign{
            -ms-grid-row: 4;
            font-size: 16pt;
            vertical-align: super;
        }

/* expenses list */
.expenseslistpage #expensesList {
    height: 100%;
    padding-left: 110px;
    /* This min-width is necessary for the listview to calculate the items positions. Quantity must be at least the size of the template*/
    min-width: 550px;

}

.expenseslistpage .win-container .item-highlighted-wrapper {
    height: 800px;
}

.expenseslistpage .win-container .item.highlighted {
    width: 264px;
    height: 498px;
    -ms-grid-rows: 30px 1fr 158px;
    -ms-grid-columns: 253px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px;
}

    .expenseslistpage .win-container .item.highlighted .data-zone
    {
        display: -ms-grid;
        -ms-grid-rows: 35px 25px 20px 1fr;
        -ms-grid-row: 3;
        background-color: #C4C331;
        vertical-align: bottom;
        width: 224px;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        height: 133px;
    }

    .expenseslistpage .win-container .item.highlighted .description {
        -ms-grid-row: 1;
        font-size: 16pt;
        width: 224px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .expenseslistpage .win-container .item.highlighted .duration {
        -ms-grid-row: 2;
        background-image: url("/images/clock.png");
        background-repeat: no-repeat;
        background-position: top 3px left 1px;
        padding-left: 25px;
        font-size: 10pt;
    }

    .expenseslistpage .win-container .item.highlighted .status {
        -ms-grid-row: 3;        
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: 3px;
        padding-left: 25px;
    }

        .expenseslistpage .win-container .item.highlighted .status.status4 {
            background-position-x: left 2px;
        }

    .expenseslistpage .win-container .item.highlighted .amount {
        -ms-grid-row: 4;
        color: #FFFFFF;
        text-align: right;
    }

    .expenseslistpage .win-container .item.highlighted .amount .dollar-part{
        -ms-grid-row: 4;
        font-size: 30pt;
        font-weight: bold;
        line-height:25pt;
        vertical-align:bottom;

    }

    .expenseslistpage .win-container .item.highlighted .amount .cents-part{
        -ms-grid-row: 4;
        font-size: 16pt;
        font-weight: bold;
        line-height:13pt;
        vertical-align:bottom;
    }

    .expenseslistpage .win-container .item.highlighted .amount .dollar-sign{
        -ms-grid-row: 4;
        font-size: 16pt;
        vertical-align: super;
    }

    .expenseslistpage .win-container .item.highlighted .header {
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 156px 1fr auto;
        -ms-grid-row: 1;
        background-color: rgba(0,0,0,0.4);
        width: 240px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 5px;
        color: #FFFFFF;        
    }

        .expenseslistpage .win-container .item.highlighted .header .name {
            -ms-grid-column: 1;
            width: 156px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .expenseslistpage .win-container .item.highlighted .header .date {
            -ms-grid-column: 2;
            text-align: right;
            font-size: 10pt;
        }

.snappedHeader {
    display: none;
}

@media screen and (max-width: 500px){
    .user-data {
        display: none;
    }

    /* expenses list */
    .expenseslistpage #expensesList {
        padding-left: 20px;
    }

    .expenseslistpage section[role=main] {
        overflow-x: hidden;
        overflow-y: hidden;
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 15px 1fr 15px;
    }

    .expenseslistpage #expensesList {
        -ms-grid-column: 2;
    }

    .expenseslistpage .item {
        width: 460px;
        /*margin-right:50px;*/

        height: 80px;
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 70px 1fr;
    }


    .expenseslistpage #expensesList {
        padding-left: 0px;
    }

    .expenseslistpage .win-container .item.normal .photo {
        -ms-grid-column: 1;
        background-size: cover;
    }

    .expenseslistpage .win-container .item.normal .data-zone {
        display: -ms-grid;
        -ms-grid-rows: 20px 20px 1fr;
        -ms-grid-columns: 1fr; 
        -ms-grid-column: 2;
        background-color: #C4C331;
        vertical-align: bottom;
        width: 180px;
        height: 80px; 
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;   
    }

        .expenseslistpage .win-container .item.normal .name {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            font-weight: 600;
            font-size: 12pt;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .expenseslistpage .win-container .item.normal .date {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            padding-top: 3px;
            text-align: left;
            font-size: 10pt;
        }

        .expenseslistpage .win-container .item.normal .status {
            -ms-grid-row: 3;  
            -ms-grid-column-span: 2;
            -ms-grid-column: 1;      
        }

        .expenseslistpage .win-container .item.normal .amount {
            -ms-grid-row: 3;
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
        }

        .expenseslistpage .win-container .item.normal .jobTitle {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            text-align: left;
        }


    .expenseslistpage .win-container {
        position: static !important;
    }

    #expensesList .snappedHeader {
        display: block;
    }

    .expenseslistpage #expensesEvolution {
        display: none;
    }
}

@media screen and (orientation:portrait) {
    .expenseslistpage .win-container .item-highlighted-wrapper {
        height: 1900px; 
    }
        
}