<section class="actions right menu">
    <span>share event on:</span>
    <a id="share-linkedin" class="menu-option" href="#" title="linkedin">
        <img src="@Url.Content("~/Styles/Images/share-linkedin.png")" />
    </a>
    <a id="share-twitter" class="menu-option" href="#" title="twitter">
        <img src="@Url.Content("~/Styles/Images/share-twitter.png")" />
    </a>
    <a id="share-facebook" class="menu-option" href="#" title="facebook">
        <img src="@Url.Content("~/Styles/Images/share-facebook.png")" />
    </a>
</section>
