@model MVCCRUDKnockout.Models.Course

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Course</h4>

        <div class="form-group">
            <label class="control-label col-md-2" for="CourseName">CourseName</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="CourseName" name="CourseName" type="text" value="" data-bind="value: CourseName">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CourseDescription">CourseDescription</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="CourseDescription" name="CourseDescription" type="text" value="" data-bind="value: CourseDescription">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" data-bind="click: deleteCourse" value="Delete" class="btn btn-default">
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    var selectedCourse = '@Html.Raw(ViewBag.selectedCourse)';
</script>
<div>
    @Html.ActionLink("Back to List", "Read")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/KOScripts/KODelete.js"></script>

