<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="PaymentMode" value="live"/>
      <add key="PF_MerchantId" value="10705100"/>
      <add key="PF_MerchantKey" value="wrxuh9kx1umku"/>
      <add key="PF_ReturnURL" value="http://www.ourcode.co.za" />
<add key="PF_CancelURL" value="http://www.ourcode.co.za" />
<add key="PF_NotifyURL" value="http://www.ourcode.co.za" />
    </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>