USE [master]
GO
/****** Object:  Database [CIK_News]    Script Date: 11/26/2012 15:03:27 ******/
CREATE DATABASE [CIK_News] ON  PRIMARY 
( NAME = N'CIK_News', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CIK_News.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CIK_News_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CIK_News_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CIK_News].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CIK_News]
GO
/****** Object:  ForeignKey [fk_RoleId]    Script Date: 11/26/2012 15:03:30 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles] DROP CONSTRAINT [fk_RoleId]
GO
/****** Object:  ForeignKey [fk_UserId]    Script Date: 11/26/2012 15:03:30 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles] DROP CONSTRAINT [fk_UserId]
GO
/****** Object:  ForeignKey [FK_Item_Category]    Script Date: 11/26/2012 15:03:30 ******/
ALTER TABLE [dbo].[Item] DROP CONSTRAINT [FK_Item_Category]
GO
/****** Object:  ForeignKey [FK_Item_ItemContent]    Script Date: 11/26/2012 15:03:30 ******/
ALTER TABLE [dbo].[Item] DROP CONSTRAINT [FK_Item_ItemContent]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 11/26/2012 15:03:30 ******/
ALTER TABLE [dbo].[Item] DROP CONSTRAINT [FK_Item_Category]
GO
ALTER TABLE [dbo].[Item] DROP CONSTRAINT [FK_Item_ItemContent]
GO
DROP TABLE [dbo].[Item]
GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 11/26/2012 15:03:30 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles] DROP CONSTRAINT [fk_RoleId]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] DROP CONSTRAINT [fk_UserId]
GO
DROP TABLE [dbo].[webpages_UsersInRoles]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/26/2012 15:03:30 ******/
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[ItemContent]    Script Date: 11/26/2012 15:03:30 ******/
DROP TABLE [dbo].[ItemContent]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/26/2012 15:03:29 ******/
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 11/26/2012 15:03:29 ******/
ALTER TABLE [dbo].[webpages_Membership] DROP CONSTRAINT [DF__webpages___IsCon__0EA330E9]
GO
ALTER TABLE [dbo].[webpages_Membership] DROP CONSTRAINT [DF__webpages___Passw__0F975522]
GO
DROP TABLE [dbo].[webpages_Membership]
GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 11/26/2012 15:03:29 ******/
DROP TABLE [dbo].[webpages_OAuthMembership]
GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 11/26/2012 15:03:29 ******/
DROP TABLE [dbo].[webpages_Roles]
GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 11/26/2012 15:03:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 11/26/2012 15:03:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[webpages_OAuthMembership] ([Provider], [ProviderUserId], [UserId]) VALUES (N'twitter', N'74188930', 6)
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 11/26/2012 15:03:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL DEFAULT ((0)),
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL DEFAULT ((0)),
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (3, CAST(0x0000A10400C99094 AS DateTime), NULL, 1, NULL, 0, N'AIlCDth8UjauzjuspslgIq4b5vyvD9OS8fl7p9xZuRXmfMbOp6cH4/ZWQMS9EzbVng==', CAST(0x0000A10400C99094 AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (4, CAST(0x0000A115006E76CF AS DateTime), NULL, 1, NULL, 0, N'AJla4e5QkMu05qx7vUJjRxbmMbJt8wHlJgSdylX7hK/TsDByBQlxALcr/mYcfVsrZw==', CAST(0x0000A115006E76CF AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (5, CAST(0x0000A1150071842D AS DateTime), NULL, 1, NULL, 0, N'AJMVEs+erki0ShZX4EuqE4u4M/87PU//OLH8nx7sILBhudx4xiItHTniFYO2gUOOIg==', CAST(0x0000A1150071842D AS DateTime), N'', NULL, NULL)
/****** Object:  Table [dbo].[User]    Script Date: 11/26/2012 15:03:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[DisplayName] [nvarchar](200) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Role] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([Id], [UserName], [DisplayName], [Password], [Email], [Role], [CreatedDate], [CreatedBy], [ModifiedDate]) VALUES (6, N'admin', N'admin', N'Hello123', N'SiteAdmin@cik.com', 2, CAST(0x0000A11500E6A2B8 AS DateTime), N'SiteAdmin', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[ItemContent]    Script Date: 11/26/2012 15:03:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemContent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[SortDescription] [text] NOT NULL,
	[Content] [text] NOT NULL,
	[SmallImage] [varchar](200) NOT NULL,
	[MediumImage] [varchar](200) NOT NULL,
	[BigImage] [varchar](200) NOT NULL,
	[NumOfView] [bigint] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ItemContent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ItemContent] ON
SET IDENTITY_INSERT [dbo].[ItemContent] OFF
/****** Object:  Table [dbo].[Category]    Script Date: 11/26/2012 15:03:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate]) VALUES (1, N'Sport', CAST(0x0000A07500000000 AS DateTime), N'thangchung', NULL)
INSERT [dbo].[Category] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate]) VALUES (2, N'Fashion', CAST(0x0000A07500000000 AS DateTime), N'thangchung', NULL)
INSERT [dbo].[Category] ([Id], [Name], [CreatedDate], [CreatedBy], [ModifiedDate]) VALUES (3, N'Books', CAST(0x0000A07500000000 AS DateTime), N'thangchung', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 11/26/2012 15:03:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 11/26/2012 15:03:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Id] [int] NOT NULL,
	[ItemContentId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON
INSERT [dbo].[Item] ([Id], [Category_Id], [ItemContentId], [CreatedDate], [CreatedBy], [ModifiedDate]) VALUES (1, 1, 1, CAST(0x0000A07500000000 AS DateTime), N'thangchung', CAST(0x0000A11500C67DB9 AS DateTime))
INSERT [dbo].[Item] ([Id], [Category_Id], [ItemContentId], [CreatedDate], [CreatedBy], [ModifiedDate]) VALUES (2, 1, 2, CAST(0x0000A07500000000 AS DateTime), N'thangchung', NULL)
INSERT [dbo].[Item] ([Id], [Category_Id], [ItemContentId], [CreatedDate], [CreatedBy], [ModifiedDate]) VALUES (5, 1, 3, CAST(0x0000A07500000000 AS DateTime), N'thangchung', NULL)
SET IDENTITY_INSERT [dbo].[Item] OFF
/****** Object:  ForeignKey [fk_RoleId]    Script Date: 11/26/2012 15:03:30 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
/****** Object:  ForeignKey [fk_UserId]    Script Date: 11/26/2012 15:03:30 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
/****** Object:  ForeignKey [FK_Item_Category]    Script Date: 11/26/2012 15:03:30 ******/
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Category] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Category]
GO
/****** Object:  ForeignKey [FK_Item_ItemContent]    Script Date: 11/26/2012 15:03:30 ******/
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_ItemContent] FOREIGN KEY([ItemContentId])
REFERENCES [dbo].[ItemContent] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_ItemContent]
GO
