<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f5944452-85e5-411b-9d24-d9f070d28d80" Version="1.0.0.3" Publisher="CN=fredy_000" />
  <Properties>
    <DisplayName>my events attendee</DisplayName>
    <PublisherDisplayName>my events</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="attendees" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Attendee application for events. Allows you to see events and sessions." ForegroundText="dark" BackgroundColor="#ECECEC">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ECECEC" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget" StartPage="pages/shareTarget/shareTarget.html">
          <ShareTarget>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
              <FileType>.png</FileType>
            </SupportedFileTypes>
            <DataFormat>bitmap</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>