<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="f955d1f7-cd96-48a3-8ea7-ea178661eb4f"
            Publisher="CN=fredy_000"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>MyCompany.Vacation.Client.WindowsStore</DisplayName>
    <PublisherDisplayName>fredy_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="MyCompany.Vacation.Client.WindowsStore.App">
        <m2:VisualElements
            DisplayName="MyCompany.Vacation.Client.WindowsStore"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="MyCompany.Vacation.Client.WindowsStore"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>