<div class="modal small autoclose">
    <div class="modal-header">
        <span class="title-modal" ng-bind="title"></span>
        <button class="button-close" ng-click="close()"></button>
    </div>
    <div class="modal-body modal-body-padding">
        <div class="modal-body-in">
            <span class="body-in-title">From</span>
            <span class="main-text main-text-visited" ng-bind="startDay"></span>
        </div>
        <div class="modal-body-in">
            <span class="body-in-title">To</span>
            <span class="main-text main-text-visited" ng-bind="endDay"></span>
        </div>
        <div class="modal-body-in">
            <span class="body-in-title">Days</span>
            <span class="main-text main-text-visited" ng-bind="workDays"></span>
        </div>
        <div class="clear"></div>
        <div>
            <input ng-model="comment" class="add-comment-input" type="text" placeholder="add a comment..." maxlength="150" />
        </div>
        <div class="clear"></div>
        <div class="contain-buttons">
            <button ng-click="accept()" class="button-primary button-propierties save-float autofocus">Request days </button>
        </div>
        <div class="clear"></div>
    </div>
</div>
