<div>
    <div class="time-line">
        <div class="time-line-tick"
             ng-repeat="month in months"
             ng-class="{active: month.isSelected}"
             ng-click="selectMonth(month)">
            <span ng-bind="month.name"></span>
        </div>
    </div>

    <div class="overlaps">
        <div class="days-header">
            <div class="day-header" ng-repeat="day in currentMonthDays">
                <span>{{day}}</span>
            </div>
        </div>
        <div class="employee-line" ng-repeat="teamVacation in teamVacations">
            <div class="avatar">
                <img class="avatar-img" ng-src="{{teamVacation.employee.picture}}" alt="team member photo" />
            </div>
            <div class="day-cell" ng-repeat="day in teamVacation.days" ng-click="openDetail(day)"
                 ng-class="{holiday: day.isHoliday, vacation: day.isVacation, approved: day.isApproved, denied: day.isDenied, pending: day.isPending}">
                <div class="day-cell-content"></div>
            </div>
        </div>
    </div>
</div>