<section class="view fixed">
    <header>
        <div class="content-input">
            <input ng-model="query" keypress="search()"  autofocus="autofocus" class="input-search" type="text" placeholder="Search vacation requests">
        </div>
        <div class="content-statistics">
            <div class="subcontent-statistics">
                <span class="words-statistics">Team vacation requests</span>
            </div>
            <div class="main-number-statistics">
                <span>{{registersCount}}</span>
            </div>
            <button ng-click="refresh()" class="refresh-button"></button>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </header>
    <section ng-show="!teamVacations.length" class="list-no-articles">
        No records found
    </section>
    <section ng-show="teamVacations.length">
        <article class="article-of-list" ng-repeat="teamVacation in teamVacations">
            <div class="avatar">
                <img ng-src="{{teamVacation.employee.picture}}" class="avatar-img" alt="team member photo" />
            </div>
            <div class="employee-info">
                <span class="name">{{teamVacation.employee.fullName}}</span>
                <span class="company-name">{{teamVacation.employee.jobTitle}}</span>
            </div>
            <div class="dates-statistics">
                <div>
                    <span class="date-month">{{teamVacation.friendlyDatesInterval}}</span>
                </div>
                <div class="requested-days-info">
                    <span class="requested-number top center">{{teamVacation.numDays}}</span>
                    <span class="requested-text">Requested</span>
                </div>
                <div class="multi-line-ellipsis" title="{{teamVacation.comments}}">
                    {{teamVacation.comments}}
                </div>
            </div>
            <button ng-click="acceptVacation(teamVacation)" class="button-box button-accept" type="button" title="Accept"></button>
            <button ng-click="rejectVacation(teamVacation)" class="button-box button-reject" type="button" title="Reject"></button>
            <div class="clear"></div>
        </article>
    </section>
    <section class="content-pagination">
        <ul>
            <li ng-repeat="page in pages" ng-class="{ active : page.activated}">
                <div>
                    <a href="" ng-click="paginate(page)">{{page.number}}</a>
                </div>
            </li>
        </ul>
        <div class="content-arrows">
            <div class="arrow-type">
                <button ng-click="previousPage()" type="button" class="arrow"><</button>
            </div>
            <div class="arrow-type margin-arrow">
                <button ng-click="nextPage()" type="button" class="arrow">></button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </section>
</section>