.shop
{
   
    padding-top:1px;
        
    
    }

.grid1
{
    top:20px;
    float:left;
    bottom: 20px;
    margin-top:20px;
    background-position:top
    
    }
    
 .Buy_all
 {
     
     
     margin-bottom:20px;
     padding-bottom:10px;
     }
 
 
.flip3d
{
    width:280px;
    height:200px;
    margin:10px;
    float:left;}
.front
{
   
	    border: medium outset Black;
        border-radius:15px;
        background-color:SlateGrey;
       
        position:relative;
        text-align:center;
        
        height:230px;
        width:163px;
        min-height:230px;
        min-width:163px;
        max-width:200px;
        
        left:  auto;
        right:auto;
        bottom: 20px;
       
        margin :    36px 26px;
    
        display:inline-block; 
        float:left;
        background-position:bottom;
   
    	-webkit-transform:  perspective(600px) rotateY( 0deg ) ;
    	
		-webkit-transition:-webkit-transform 2s linear 0s;
		-moz-transform:perspective(600px) rotateY( 0deg ) ;
		-moz-transition:-webkit-transform 2s linear 0s;


		transform:perspective(600px) rotateY( 0deg ) ;
		transition:transform 2s linear 0s;
		
		
}


.Tfront
{
        position:relative;
        height:230px;
        width:163px;
        
	        -webkit-transform:perspective(600px) rotateY(180deg);
	        -moz-transform:inherit;
	         transform:perspective(600px) rotateY(180deg);
 
}



.vid{

        height:200px;
        width:155px;
 -webkit-transform:perspective(600px) rotateY(180deg);
 -moz-transform:perspective(600px) rotateY(180deg);
 transform:perspective(600px) rotateY(180deg);
}

