--
-- Before running the script below, create the PeopleDatabase best done in SQL-Server Management Studio
-- Use CreateDatabase.sql and read the comments first.
--

USE [PeopleDatabase]
GO
/****** Object:  Table [dbo].[People]    Script Date: 11/2/2016 3:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Identifier] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[Identifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([Identifier], [FirstName], [LastName]) VALUES (1, N'Stefanie', N'Buckley')
INSERT [dbo].[People] ([Identifier], [FirstName], [LastName]) VALUES (2, N'Sandy', N'Mc Gee')
INSERT [dbo].[People] ([Identifier], [FirstName], [LastName]) VALUES (3, N'Lee', N'Warren')
GO
SET IDENTITY_INSERT [dbo].[People] OFF
