<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MyCompany.Visitors" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\v11.0;Database=MyCompany.Visitors.Data.Tests;Trusted_Connection=true;Integrated Security=True;App=MyCompanyVisitorsDataTests;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="ida:Tenant" value="mycompanydemo.onmicrosoft.com" />
    <add key="ida:Domain" value="mycompanydemos.com" />
  </appSettings>  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <clear />
      </listeners>
    </trace>
    <sources>
      <source name="MyCompany" switchValue="All">
        <listeners>
          <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <entityFramework>
    <contexts>
      <context type="MyCompany.Visitors.Data.MyCompanyContext, MyCompany.Visitors.Data">
        <!--This initializer override the initializer configured in ours MyComanyDbConfiguration-->
        <databaseInitializer type="MyCompany.Visitors.Data.Test.Initializers.MyCompanyContextInitializer, MyCompany.Visitors.Data.Tests" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>