<div class="splash-container">
    <img src="~/Content/Images/logo.png" alt="My Company logo"  />
    <div class="progress progress-warning progress-striped active">
        <div class="bar" style="width: 100%;"></div>
    </div>
</div>
