<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DbViewer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <DbViewer.My.MySettings>
            <setting name="rtbSendeBox" serializeAs="String">
                <value>SELECT groupnr,pid, testtime, result, recordtime from result_test where place = 'L12' and testtime &gt; '2011-08-30' order by stationnr;</value>
            </setting>
            <setting name="setAppDriver" serializeAs="String">
                <value>Driver={MySQL ODBC 3.51 Driver};</value>
            </setting>
            <setting name="setAppServer" serializeAs="String">
                <value>Server=10.177.224.53;</value>
            </setting>
            <setting name="settAppDatabase" serializeAs="String">
                <value>Database=result;</value>
            </setting>
            <setting name="setAppUserID" serializeAs="String">
                <value>prodis</value>
            </setting>
            <setting name="setAppPassword" serializeAs="String">
                <value>dsa</value>
            </setting>
            <setting name="setAppProvider" serializeAs="String">
                <value>MSDASQL.1</value>
            </setting>
        </DbViewer.My.MySettings>
    </userSettings>
</configuration>
