<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="URLPREFIXKEY" value="http://YOUR_SITE.azurewebsites.net/" />
    <add key="CAMERAVIEWVEHICLEID" value="15" />
  </appSettings>
</configuration>