<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="3b5910b9-2309-43b2-9d6d-ade58a5142c8" Publisher="CN=Ibon" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MyCompany.Expenses.Client.Interactive.Store.Test</DisplayName>
    <PublisherDisplayName>Ibon</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MyCompany.Expenses.Client.Interactive.Store.Test.App">
      <VisualElements DisplayName="MyCompany.Expenses.Client.Interactive.Store.Test" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MyCompany.Expenses.Client.Interactive.Store.Test" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>