<html data-ng-app="RESTClientModule">
@{
    ViewBag.Title = "Line Chart";
}
<head>
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=0.0)" />
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0.0)" />

    <meta http-equiv="x-ua-compatible" content="IE=9" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <script type="text/javascript">

        //public Canvas object to use in all the functions.
        //this variable will be used to check for the result of Alert Image display
        var alertCheckValue = 90;

        //Adding the Pic Chart Colors to array .Here i have fixed to 12 colors and 12 datas to add as Pic Chart.if you want you can add more from here.
        var pirChartColor = ["#6CBB3C", "#F87217", "#EAC117", "#EDDA74", "#CD7F32", "#CCFB5D", "#FDD017", "#9DC209", "#E67451", "#728C00", "#617C58", "#64E986"]; // green Color Combinations
        // var pirChartColor = ["#3090C7", "#BDEDFF", "#78C7C7", "#736AFF", "#7FFFD4", "#3EA99F", "#EBF4FA", "#F9B7FF", "#8BB381", "#BDEDFF", "#B048B5", "#4E387E"]; // Blue Color Combinations
        var lineColor = "#6CBB3C";
        var lineOuterCircleColor = "#3090C7";
        var lineInnerCircleColor = "#FFFFFF";

        //declare the
        var canvas;
        var chartCTX;

        // declare the Border Space,Chart Start X and Y Position;
        var xSpace = 80;
        var ySpace = 80;
        //declare the Chart DrawWidth and Hegith
        var chartWidth, chartHeight;

        // declared the Chart Legend Width and Hegit
        var legendWidth, legendHeight;

        //declared the Chart data Minimum Value,maximum Value and Noofplots(Bars/Arc and Line points)
        var minDataVal, maxDataVal, noOfPlots;

        //here we declare the Image for the Chart legend alert status display.
        var greenImage = new Image();
        var redImage = new Image();
        //Alert Image Size widht and hegith
        var imagesize = 20;
        var maxValdivValue;
        //Here we declare the X,YAxis Font size and Color
        var fotnColor = "#000000";
        var axisfontSize = 10;

        var LogoImage = new Image();
        var LogoImgWidth = 120;
        var LogoImgHeight = 70;
        // This arrawy wil be used to draw the Legends
        rect = {};
        rectInner = {};

        //This method will be used to check for user selected Color Theme and Change the color
        function ChangeChartColor() {

            if ($('#rdoColorGreen:checked').val() == "Green Theme") {
                pirChartColor = ["#6CBB3C", "#F87217", "#EAC117", "#EDDA74", "#CD7F32", "#CCFB5D", "#FDD017", "#9DC209", "#E67451", "#728C00", "#617C58", "#64E986"]; // green Color Combinations
                lineColor = "#3090C7"; // Blue Color for Line
                lineOuterCircleColor = "#6CBB3C"; // Green Color for Outer Circle

            }
            else {
                pirChartColor = ["#3090C7", "#BDEDFF", "#78C7C7", "#736AFF", "#7FFFD4", "#3EA99F", "#EBF4FA", "#F9B7FF", "#8BB381", "#BDEDFF", "#B048B5", "#4E387E"]; // Blue Color Combinations
                lineColor = "#F87217";  // Orange Color for the Line
                lineOuterCircleColor = "#F70D1A "; // Red Color for the outer circle
            }
        }


        // to return the x-Value
        function getXPlotvalue(val) {

            return (Math.round((chartWidth) / noOfPlots)) * val + (xSpace * 1.5) - 20;
        }

        // Return the y value
        function getYPlotVale(val) {
            return chartHeight - (((chartHeight - xSpace) / maxDataVal) * val);

        }

        // This function is used to draw the Legend
        function drawLengends() {
            ctx.fillStyle = "#7F462C";
            ctx.fillRect(rect.startX, rect.startY, rect.w, rect.h);
            //Drawing Inner White color Rectange with in Above brown rectangle to plot all the Lables with color,Text and Value.
            ctx.fillStyle = "#FFFFFF";
            rectInner.startX = rect.startX + 1;
            rectInner.startY = rect.startY + 1;
            rectInner.w = rect.w - 2;
            rectInner.h = rect.h - 2;
            ctx.fillRect(rectInner.startX, rectInner.startY, rectInner.w, rectInner.h);


            labelBarX = rectInner.startX + 4;
            labelBarY = rectInner.startY + 4;
            labelBarWidth = rectInner.w - 10;
            labelBarHeight = (rectInner.h / noOfPlots) - 5;
            colorval = 0;
            // here to draw all the rectangle for Lables with Image display
            $('#DropDownList1 option').each(function () {
                ctx.fillStyle = pirChartColor[colorval];

                ctx.fillRect(labelBarX, labelBarY, labelBarWidth, labelBarHeight);
                // Here we check for the rdoAlert Status is On - If the Alert is on then we display the Alert Image as per the  Alert check value.
                if ($('#rdoAlaramOn:checked').val() == "Alert On") {
                    // Here we can see fo ever chart value we check with the condition .we have initially declare the alertCheckValue as 300.
                    //so if the Chart Plot value is Greater then or equal to the check value then we display the Green Image else we display the Red Image.
                    //user can change this to your requiremnt if needed.This is optioan function for the Pie Chart.
                    if (parseInt($(this).val()) >= alertCheckValue) {
                        ctx.drawImage(greenImage, labelBarX, labelBarY + (labelBarHeight / 3) - 4, imagesize, imagesize);
                    }
                    else {
                        ctx.drawImage(redImage, labelBarX, labelBarY + (labelBarHeight / 3) - 4, imagesize, imagesize);
                    }
                }
                //Draw the Pie Chart Label text and Value
                ctx.fillStyle = "#000000";
                ctx.font = '10pt Calibri';
                ctx.fillText($(this).text(), labelBarX + imagesize + 2, labelBarY + (labelBarHeight / 2));

                // To Increment and draw the next bar ,label Text and Alart Image.

                labelBarY = labelBarY + labelBarHeight + 4;
                //  labelTextYXVal = labelBarY + labelBarHeight - 4;

                colorval = colorval + 1;

            });

        }

         // This is the main function to darw the Charts
    function drawChart() {

        ChangeChartColor();

        // asign the images path for both Alert images
        greenImage.src = '../images/Green.png';
        redImage.src = '../images/Red.png';

        LogoImage.src = '../images/shanu.jpg';

        // Get the minumum and maximum value.here i have used the hidden filed from code behind wich will stored the Maximum and Minimum value of the Drop down list box.

        minDataVal = $('input:text[name=hidListMin]').val();
        maxDataVal = $('input:text[name=hidListMax]').val();

        // Total no of plots we are going to draw.
        noOfPlots = $("#DropDownList1 option").length;

        maxValdivValue = Math.round((maxDataVal / noOfPlots));


        //storing the Canvas Context to local variable ctx.This variable will be used to draw the Pie Chart
        canvas = document.getElementById("canvas");
        ctx = canvas.getContext("2d");
        //globalAlpha - > is used to display the 100% opoacity of chart .because at the bottom of the code I have used the opacity to 0.1 to display the water mark text with fade effect.
        ctx.globalAlpha = 1;
        ctx.fillStyle = "#000000";
        ctx.strokeStyle = '#000000';
        //Every time we clear the canvas and draw the chart
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        //If need to draw with out legend for the Line Chart
        chartWidth = canvas.width - xSpace;
        chartHeight = canvas.height - ySpace;


        //  step 1) Draw legend $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$########################
        if ($('#chkLegend:checked').val() == "Show Legend") {

            chartWidth = canvas.width - ((canvas.width / 3) - (xSpace / 2));
            chartHeight = canvas.height - ySpace - 10;

            legendWidth = canvas.width - ((canvas.width / 3) - xSpace);
            legendHeight = ySpace;

            rect.startX = legendWidth;
            rect.startY = legendHeight;
            rect.w = canvas.width / 3 - xSpace - 10;
            rect.h = canvas.height - ySpace - 10;

            //In this method i will draw the legend with the Alert Image.
            drawLengends();

        }
        // end step 1) $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

        var chartMidPosition = chartWidth / 2 - 60;

        ////        //If need to draw with legend
        ////        chartWidth = canvas.width - ((canvas.width / 3) - (xSpace / 2));
        ////        chartHeight = canvas.height - ySpace - 10;


        // Step 2 ) +++++++++++++ To Add Chart Titel and  Company Logo
        //To Add Logo to Chart



        var logoXVal = canvas.width - LogoImgWidth - 10;
        var logolYVal = 0;

        //here we draw the Logo for teh chart and i have used the alpha to fade and display the Logo.
        ctx.globalAlpha = 0.6;

        ctx.drawImage(LogoImage, logoXVal, logolYVal, LogoImgWidth, LogoImgHeight);

        ctx.globalAlpha = 1;

        ctx.font = '22pt Calibri';
        ctx.fillStyle = "#15317E";

        var titletxt = $('input:text[name=txtTitle]').val();

        ctx.fillText(titletxt, chartMidPosition, chartHeight + 60);


        ctx.fillStyle = "#000000";
        ctx.font = '10pt Calibri';

        // end step 2) +++++++++++ End of Title and Company Logo Add

        // Step 3 ) +++++++++++++ toDraw the X-Axis and Y-Axis

        //  >>>>>>>>> Draw Y-Axis and X-Axis Line(Horizontal Line)
        // Draw the axises
        ctx.beginPath();
        ctx.moveTo(xSpace, ySpace);
        // first Draw Y Axis
        ctx.lineTo(xSpace, chartHeight);

        // Next draw the X-Axis
        ctx.lineTo(chartWidth, chartHeight);
        ctx.stroke();
        //  >>>>>>>>>>>>> End of X-Axis Line Draw
        //end step 3) +++++++++++++++++++++++


        // Step 4) <<<<<<<<<<<<<<<<<<<<<<< To Draw X - Axis Plot Values <<<<<<<<<<<<< }}}}}}
        // Draw the X value texts
        // --->>>>>>>>>>>>  for the Bar Chart i have draw the X-Axis plot in with drawBarChart
        //  <<<<<<<<<<<<<<<<<<<<<<< End of X Axis Draw

        // end Step 4) <<<<<<<<<<<<<<<<<<<<<<<


        // Step 5){{{{{{{{{{{{
        // {{{{{{{{{{{{{To Draw the Y Axis Plot Values}}}}}}}}}}}}}}

        var vAxisPoints = 0;
        var max = maxDataVal;
        max += 10 - max % 10;
        for (var i = 0; i <= maxDataVal; i += maxValdivValue) {

            ctx.fillStyle = fotnColor;
            ctx.font = axisfontSize + 'pt Calibri';
            ctx.fillText(i, xSpace - 40, getYPlotVale(i));

            //Here we draw the Y-Axis point line
            ctx.beginPath();
            ctx.moveTo(xSpace, getYPlotVale(i));

            ctx.lineTo(xSpace - 10, getYPlotVale(i));
            ctx.stroke();
            vAxisPoints = vAxisPoints + maxValdivValue;


        }

         //}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}

        //Step 5) *********************************************************
        //Function to Draw our Chart here we can Call/Bar Chart/Line Chart or Pie Chart

        drawLineChart();

        // end step 6) **************

        //Step 7)  :::::::::::::::::::: to add the Water mark Text
        var waterMarktxt = $('input:text[name=txtWatermark]').val();


        // Here add the Water mark text at center of the chart
        ctx.globalAlpha = 0.1;
        ctx.font = '86pt Calibri';
        ctx.fillStyle = "#000000";
        ctx.fillText(waterMarktxt, chartMidPosition - 40, chartHeight / 2);

        ctx.font = '10pt Calibri';
        ctx.globalAlpha = 1;
        /// end step 7) ::::::::::::::::::::::::::::::::::::::

    }

    function drawLineChart() {

        // For Drawing Line
        ctx.lineWidth = 3;
        var value = $('select#DropDownList1 option:selected').val();
   
        ctx.beginPath();

        // *************** To Draw the Line and Plot Value in Line
        ctx.fillStyle = "#FFFFFF";
        ctx.strokeStyle = '#FFFFFF';
        ctx.moveTo(getXPlotvalue(0), getYPlotVale(value));

        ctx.fillStyle = "#000000";
        ctx.font = '12pt Calibri';
        ctx.fillText(value, getXPlotvalue(0), getYPlotVale(value) - 12);

        var ival = 0;
        $('#DropDownList1').val($('#DropDownList1 option').eq(0).val());

        $('#DropDownList1 option').each(function (i) {

            if (ival > 0) {
                ctx.lineTo(getXPlotvalue(ival), getYPlotVale($(this).val()));
                ctx.stroke();

                ctx.fillStyle = "#000000";
                ctx.font = '12pt Calibri';
                ctx.fillText($(this).val(), getXPlotvalue(ival), getYPlotVale($(this).val()) - 16);
            }
            ival = ival + 1;
            ctx.fillStyle = lineColor;
            ctx.strokeStyle = lineColor;
        });



        // *************** To Draw the Line Dot Cericle

        //For Outer Blue Dot

        ival = 0;
        $('#DropDownList1 option').each(function (i) {
            ctx.fillStyle = lineOuterCircleColor;
            ctx.strokeStyle = lineOuterCircleColor;
            ctx.beginPath();
            ctx.arc(getXPlotvalue(ival), getYPlotVale($(this).val()), 7, 0, Math.PI * 2, true);
            ctx.fill();

            ctx.fillStyle = lineInnerCircleColor;
            ctx.strokeStyle = lineInnerCircleColor;
            ctx.beginPath();
            ctx.arc(getXPlotvalue(ival), getYPlotVale($(this).val()), 4, 0, Math.PI * 2, true);
            ctx.fill();
            ival = ival + 1;
        });

        ctx.lineWidth = 1;
    }




    //Save as Image file
    function ShanuSaveImage() {

        var m = confirm("Are you sure to Save ");
        if (m) {
                // save image without file type
                var canvas = document.getElementById("canvas");
                document.location.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");

                var ImageSave = document.createElement('a');
                ImageSave.download = "shanuPIEImage.png";
                ImageSave.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
                ImageSave.click();
                alert("Image Saved");

        }

    }

    </script>
</head>
<body data-ng-controller="AngularJs_Controller">

    <img src="~/images/blank.gif" alt="" width="1" height="10" />
    <table width="99%" style="border-bottom:3px solid #3273d5;">
        <tr>

            <td class="style1">
                <h3>Shanu - Drawing Line Chart using MVC Angular JS & JQuery :)</h3>
            </td>

        </tr>
    </table>


    <table style='width: 99%;table-layout:fixed;'>
        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td class="style1" align=left>
                            <table width="100%" style=" background-color #ECF3F4; border-bottom:3px solid #3273d5;">
                                <tr>
                                    <td>
                                        <h2 style="color:#465c71;"><b>Line Chart</b></h2>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="99%">
                                <tr>
                                    <td align="right">
                                        <input type="button" value="Add Chart Item Details" style="background-color:#334668;color:#FFFFFF;font-size:large;width:200px;
                              border-color:#a2aabe;border-style:dashed;border-width:2px;" ng-click="showChartItemAdd()" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr ng-show="showItemAdd">
                        <td>
                            <table style="width: 99%; background-color:#FFFFFF; border dashed 3px #6D7B8D; padding 5px;width 99%;table-layout:fixed;" cellpadding="2" cellspacing="2">
                                <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
                                    <td>
                                        <h3> Add/Edit Chart Item</h3>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>

                                                <td width="20"></td>
                                                <td valign="top">
                                                    <form novalidate name="f1" ng-submit="saveDetails()">
                                                        <table style="color:#9F000F;font-size:large" cellpadding="4" cellspacing="6">

                                                            <tr>
                                                                <td>
                                                                    <b>Item Name: </b>
                                                                </td>

                                                                <td>

                                                                    <input type="text" name="txtitemName" ng-model="ItemNames" placeholder="Item name ... " required />
                                                                    <br />
                                                                    <span class="error" ng-show="(f1.file.$dirty || IsFormSubmitted) && f1.txtitemName.$error.required">Item name required!</span>
                                                                </td>
                                                                <td>
                                                                    <b>Item Chart Value : </b>
                                                                </td>

                                                                <td>
                                                                    <input type="number" min="0" max="999" name="txtitemValue" ng-model="ItemValues" value="0" placeholder="Item Value ... " required />
                                                                    <br />
                                                                    <span class="error" ng-show="(f1.file.$dirty || IsFormSubmitted) && f1.txtitemValue.$error.required">Item Value required!</span>

                                                                    <br />

                                                                </td>
                                                            </tr>

                                                            <tr>

                                                                <td colspan="4" align="center">
                                                                    <input type="submit" value="Save Item" style="background-color:#336699;color:#FFFFFF" required />
                                                                </td>
                                                            </tr>



                                                        </table>

                                                    </form>
                                                </td>

                                            </tr>

                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Images/blank.gif" alt="" width="1" height="10" />
                            <table style="padding:5px;width:99%;table-layout:fixed; border-bottom:3px solid #3273d5;">
                                <tr>
                                    <td>
                                        <table width="100%" style="border:1px solid #C7C7C7;padding:3px 9px 2px 9px;">
                                            <tr>

                                                <td style="background-color:#ECF3F4; border-right:1px solid #C7C7C7;" width="180">
                                                    Enter Chart Draw Count:

                                                </td>
                                                <td>

                                                    <input type="text" name="txtChartCount" ng-model="itemCount" value="5" style="background-color:tan" readonly />
                                                </td>
                                                <td style="background-color:#ECF3F4; border-right:1px solid #C7C7C7;" width="120">Chart Item</td>
                                                <td>
                                                    <select name="DropDownList1" id="DropDownList1" ng-model="selectedItem">
                                                        <option ng-repeat="option in itemData" value="{{option.SaleCount}}">{{option.ItemName}}</option>
                                                    </select>
                                                </td>
                                                <td style="background-color:#ECF3F4; border-right:1px solid #C7C7C7;" width="120">
                                                    Select Color /Legend display
                                                </td>
                                                <td style="border-right:1px solid #C7C7C7;width:120px;">
                                                    <input type="radio" name="Colors" id="rdoColorGreen" value="Green Theme" checked> Green Theme<br>
                                                    <input type="radio" name="Colors" id="rdoColorBlue" value="Blue Theme"> Blue Theme<br>


                                                    <input type="checkbox" id="chkLegend" name="chkLegend" Text="Show Legend" value="Show Legend" /> Show Legend

                                                </td>
                                                <td rowspan="2" style="background-color:#ebebeb;border-right:1px solid #C7C7C7;">
                                                    Click to Draw Chart:
                                                </td>
                                                <td rowspan="2">


                                                    <img src="~/images/Bar.png" onClick="drawChart()" alt="Click to Draw PIE Chart" />
                                                </td>
                                                <td style="background-color:#ebebeb;border-right:1px solid #C7C7C7;" rowspan="2">
                                                    Save Chart:

                                                </td>
                                                <td rowspan="2">
                                                    <img src="~/images/Save.png" onClick="ShanuSaveImage()" alt="Click to Save PIE Chart" />
                                                </td>

                                            </tr>


                                            <tr>

                                                <td style="background-color:#ECF3F4;border-right:1px solid #C7C7C7;" width="180">
                                                    Enter Chart Title:

                                                </td>
                                                <td>

                                                    <input type="text" name="txtTitle" ng-model="chartTitle" value="SHANU Line Chart" />

                                                </td>
                                                <td style="background-color:#ECF3F4;border-right:1px solid #C7C7C7;">
                                                    Chart WaterMark:

                                                </td>
                                                <td style="border-right:1px solid #C7C7C7;width:70px">

                                                    <input type="text" name="txtWatermark" ng-model="waterMark" value="SHANU" style="width:60px" />

                                                </td>
                                                <td style="background-color:#ECF3F4;border-right:1px solid #C7C7C7;">
                                                    Alert Status
                                                </td>
                                                <td>
                                                    <input type="radio" name="Alaram" id="rdoAlaramOn" value="Alert On" checked> Alert On<br>
                                                    <input type="radio" name="Alaram" id="rdoAlaramOff" value="Alert Off"> Alert Off<br>


                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <img src="~/Images/blank.gif" alt="" width="1" height="10" />
                            <table width="99%" class="search">
                                <tr>
                                    <td align="center">

                                        <table>
                                            <tr>
                                                <td align="center">
                                                    <SECTION style="border-style: solid; border-width: 2px; width: 800px;">

                                                        <CANVAS HEIGHT="600px" WIDTH="800px" ID="canvas">
                                                            Your browser is not supporting HTML5 Canvas .Upgrade Browser to view this program or check with Chrome or in Firefox.
                                                        </CANVAS>

                                                    </SECTION>
                                                </td>
                                            </tr>
                                        </table>
                                        <input type="hidden" id="hidFirstVal" value="100" />

                                        <input type="text" name="hidListMax" ng-model="maxnew" style="display: none;" />
                                        <input type="text" name="hidListMin" ng-model="minsnew" style="display: none;" />
                                    </td>

                                </tr>
                            </table>


                        </td>
                    </tr>
                </table>


</body>
</html>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/angular-animate.min.js"></script>
<script src="~/Scripts/MYAngular/controller.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

