<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="kcgis" connectionString="Data Source=YOUR_SQL_SERVER; Initial Catalog=YOUR_DATABASE; uid=YOUR_USERNAME; pwd=YOUR_PASSWORD" providerName="System.Data.SqlClient"/>
    <add name="azure" connectionString="Server=tcp:YOUR_SQL_AZURE.database.windows.net,1433;Database=YOUR_DATABASE;User ID=YOUR_USERNAME;Password=YOUR_PASSWORD;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
            <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
            <bindingRedirect oldVersion="10.0.0.0" newVersion="12.0.0.0" />
        </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>