<section data-ng-controller="DriversController">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3>Drivers</h3>
            <list-input-search model="search" page="page"></list-input-search>
        </div>
        <div class="panel-body">
            <div class="clearfix">
                <div class="pull-left">
                    <button type="button" class="btn btn-default" ui-sref="newDriver">Add a new driver</button>
                    <h3 ng-show="count == 0" class="ng-hide">Your search "{{search}}" did not match any drivers</h3>
                </div>
                <h4 class="pull-right"><strong>{{count}}</strong> results</h4>
            </div>
            <div class="row list-container">
                <div ng-repeat="driver in drivers" class="col-xs-12 col-md-6 driver-list-item">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img ng-src="{{driver.Picture | imageBase64}}"/>
                            <div class="data">
                                <h4>{{driver.Name}}</h4>
                                <ms-rating model="driver.RatingAvg" big="true"></ms-rating>
                                <span class="phone">{{driver.Phone}}</span>
                                <div class="separation">
                                    <h3>{{driver.TotalRides}}</h3> Rides
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button type="button" class="btn btn-warning btn-xs" ng-click="remove(driver)">Delete
                            </button>
                            <button type="button" class="btn btn-primary btn-xs"
                                    ui-sref="editDriver({id: driver.DriverId})">Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <list-pager count="count" page="page" go-to="goTo(numPage)"></list-pager>
        </div>
    </div>
</section>