<MarketplaceDetails>
  <SmallAppTile>Icon.png</SmallAppTile>
  <ScreenShots>WVGA_0.png;WVGA_1.png;WVGA_2.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>WXGA_0.png;WXGA_1.png;WXGA_2.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>720p_0.png;720p_1.png;720p_2.png;;;;;;</ScreenShots720P>
</MarketplaceDetails>