@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Welcome to visit <a href="http://nha3mien.com" title="nha3mien.com">http://nha3mien.com</a>.
    
</p>
<p>
    E-mail: info@nh3mien.com
</p>
<p>
    Phone: 84903487428
</p>

<form action="/Home/Index" method="POST">


    @Html.Raw(ViewBag.htmlBarcode)

    <input type="text" id="txtcode" name="txtcode" />
    <input type="submit" value="Get barcode" />
    <div style="clear: both">
        <img id="img"  src="/Barcode.ashx?m=0&h=60&vCode=@ViewBag.vCode" alt="@ViewBag.vCode"/>
    </div>

</form>

