<div class="modal extra-small autoclose">
    <div class="modal-header">
        <span class="title-modal">{{title}}</span>
        <button class="button-close" ng-click="close()"></button>
    </div>
    <div class="modal-body modal-body-padding">
        <div class="modal-body-in">
            <span class="body-in-title">From</span>
            <span class="main-text main-text-visited">{{startDay}}</span>
        </div>
        <div class="modal-body-in">
            <span class="body-in-title">To</span>
            <span class="main-text main-text-visited">{{endDay}}</span>
        </div>
        <div class="modal-body-in">
            <span class="body-in-title">Days</span>
            <span class="main-text main-text-visited">{{workDays}}</span>
        </div>
        <div class="clear"></div>
        <div class="contain-buttons">
            <button class="button-box button-accept" type="button" ng-click="acceptVacation()" ng-show="!isApproved" title="Accept"></button>
            <button class="button-box button-reject" type="button" ng-click="rejectVacation()" ng-show="!isDenied" title="Reject"></button>
        </div>
        <div class="clear"></div>
    </div>
</div>
