<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="shopingConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\shoping.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
     
           
    </connectionStrings>
  
    <system.web>
      <!--seesion state in_proc mode-->
      <!--<sessionState mode="InProc" cookieless="AutoDetect" timeout="50"></sessionState>-->
      
      <!--seesion state in_proc mode-->
      
      <!--this is custom provider-->
      <!--<roleManager defaultProvider="CustomProvider">
        <providers>
          <add connectionStringName="shopingConnectionString1"
               name="CustomProvider"
          type="System.Web.Security.SqlRoleProvider" />
        </providers>
      </roleManager>-->

      <!--<membership defaultProvider="CustomMembershipProvider">
        <providers>
          <add connectionStringName="shopingConnectionString1" name="CustomMembershipProvider"
            type="System.Web.Security.SqlMembershipProvider" />
        </providers>
      </membership>
      --><!--this is custom provider-->
        <!--<customErrors defaultRedirect="~/error.aspx" />-->
        <!--<roleManager enabled="true" />-->
        <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms" >
          
        <forms  defaultUrl="default.aspx" loginUrl="login1.aspx"   cookieless="AutoDetect"  ></forms>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
        <machineKey validationKey="0E75EE0933B3F3BEDB88C26EA26506EA250464A12F3F69D5938BE2AE1546B60B59C20F23AE8E854C4605F6B488F629149F726C67FCE88B8895F1CC601622428E" decryptionKey="6388FCD55089DFAAA7730EC52EC886D9823BF9EACD2B1E8DD7EEC96EEC7EFE4B" validation="SHA1" decryption="AES" />

    </system.web>

</configuration>
