<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="win81" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.0.3" targetFramework="win81" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="win81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="win81" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.6.1-alpha" targetFramework="win81" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="win81" />
  <package id="MvvmLightLibs" version="4.3.31.1" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="win81" />
  <package id="Rx-Core" version="2.2.2" targetFramework="win81" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="win81" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="win81" />
  <package id="Rx-Main" version="2.2.2" targetFramework="win81" />
  <package id="Rx-PlatformServices" version="2.2.3" targetFramework="win81" />
  <package id="Win8nl" version="1.0.9" targetFramework="win81" />
  <package id="WinRtBehaviors" version="1.0.3" targetFramework="win" />
  <package id="WinRTValidations" version="1.0.0.1" targetFramework="win81" />
  <package id="WinRTXamlToolkit" version="1.6.0.5" targetFramework="win81" />
</packages>