/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* float clearing for IE6 */
* html .module
{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
	min-height: 1%;
}

/* Breadcrumb Styles
 ---------------------------------------------------------------------*/

.breadCrumb
{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	height: 21px;
	overflow: hidden;
	width: 990px;
	padding:5px;
	/*border:solid 1px #dedede;*/
	background:#fff;
	margin: -10px 0 0;
}
.breadCrumb ul
{
	margin: 0;
	padding: 0;
	height: 21px;
	display: block;
}
.breadCrumb ul li
{
	display: block;
	float: left;
	position: relative;
	height: 21px;
	overflow: hidden;
	line-height: 21px;
	margin: 0px 6px 0px 0;
	padding: 0px 10px 0px 0;
	font-size: .9167em;
	background: url(../Images/Chevron.gif) no-repeat 100% 0;
}
.breadCrumb ul li div.chevronOverlay
{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.breadCrumb ul li span
{
	display: block;
	overflow: hidden;
}
.breadCrumb ul li a
{
	display: block;
	position: relative;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	float: left;
}
.breadCrumb ul li.first a
{
	height: 16px !important;
	text-indent:-1000em;
	width:16px;
	padding: 0;
	margin-top: 2px;
	overflow: hidden;
	background:url(../Images/IconHome.gif) no-repeat 0 0;
}
.breadCrumb ul li.first a:hover
{
	background-position: 0 -16px;
}
.breadCrumb ul li.last
{
	background: none;
	margin-right: 0;
	padding-right: 0;
}
.chevronOverlay
{
	display: none;
	background: url(../Images/ChevronOverlay.png) no-repeat 100% 0;
	width: 13px;
	height: 20px;
}

/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* float clearing for IE6 */
* html .module
{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
	min-height: 1%;
}



ul
{
	list-style-type: disc;
}
ol
{
	list-style-type: decimal;
}
ul li, ol li
{
	line-height: 1.5em;
}

dt
{
	margin: .416em 0 0 0;
}

dd
{
	margin: .416em 0 .416em 1.1667em;
}

pre, code, tt
{
	font-family: "Andale Mono" , "Lucida Console" , "Courier New" , Courier, monospace;
	margin: .833em 0;
}
sub
{
	vertical-align: sub;
	font-size: smaller;
	line-height:inherit;
}

sup
{
	vertical-align: super;
	font-size: smaller;
	line-height:inherit;
}

/* Page Specific
 ---------------------------------------------------------------------*/

#container 
{

margin:0 auto 10px;
text-align:left;
width:1000px;
}
.breadCrumbHolder
{
	margin:0 0 20px 0;
}
pre
{
	background:#ddd;
	border:solid 1px #fff;
	padding:10px;
	color:#111;
}
.description
{
	float:left;
	width:700px;
	margin-right:20px;
}
.sideBar
{
	float:left;
	background:#fff;
	border:solid 1px #dedede;
	padding:20px;
	width:238px;
	margin:50px 0 0 0;
}
.license p
{
	font-size:0.83333em;
	color:#888;
}

/* Page modify
 ---------------------------------------------------------------------*/
.bred-crumb-area {
	color:#333333;
	font-size:12px;
}
.bred-crumb {
	color:#333333;
	font-size:12px;
	float:left;
	margin-top:7px;
}
.bred-crumb a {
	color:#333333;
	font-size:12px;
	text-decoration:none;
}
.bred-crumb a:hover {
	color:#101010;
}
.bred-crumb-detailpage
{
	padding-top:4px;
}
.pl2bcrclr
{
	margin:-2px;
}