@{
    ViewBag.Title = "About this sample";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>    
    <p>
        The sample shows how to access Windows Azure Active Directory Graph which is a RESTful Service
        built using OData. This sample uses WCF Data Services.Net client library to work with the AAD Graph Service.        
    </p>
    <p> This is Version 3.0 of the sample application. </p>
    <p> Changes in this version: 
        <br /> Changed the sample to use new new of the Graph Service: api-version=2013-11-08
        <br /> Removed legacy code for Authentication, and replaced it with Azure AD Authentication Library (ADAL)
        <br /> Updated Search to use "startsWith" instead of "equals" for user and group search
        <br /> Added user properties: immutableId, userType to the User object view
    </p>
</article>

<aside>
    <h3>Browse the web site</h3>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
    </ul>
</aside>