@{
    ViewBag.Title = "Manage your Windows Azure Active Directory Tenant";
}

<aside>
    <h2>@ViewBag.Title</h2>
    <ul>
        <li>@Html.ActionLink("User Management", "Index", "User")</li>
        <li>@Html.ActionLink("Group Management", "Index", "Group")</li>                     
    </ul>
</aside>