@model IEnumerable<MyCompany.Travel.Model.Question>

@{
    ViewBag.Title = "MyCompany Travel | Questions";
}

     @*HTML Update for Brower Link demo*@ 
@*<div id="toast-container" class="toast-top-full-width">
        <div class="toast toast-demo">
            Refreshed by VS Browser Link!
        </div>
    </div>*@

<h2>Questions</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
    </tr>
}

</table>
