@{
    ViewBag.Title = "Login";
}

<section id="login">
    <header>
        <h1>please sign in to access the page.</h1>
    </header>
    <a id="fb-login-button" href="#" class="button">sign in with Facebook</a>
</section>

<div id="fb-root"></div>
