/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    display: block;
    margin-top: 8px;
    text-align: center;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* jQuery mobile styles
-----------------------------------------------------------*/

/* Make listview buttons fill the whole horizontal width of the screen */
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding-right: 15px;
}

.ui-bar-a, .ui-body-a, .ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a,
.ui-bar-b, .ui-body-b, .ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b,
.ui-bar-c, .ui-body-c, .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c,
.ui-bar-d, .ui-body-d, .ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d,
.ui-bar-e, .ui-body-e, .ui-btn-up-e, .ui-btn-hover-e, .ui-btn-down-e,
.ui-btn-active {
    text-shadow: none;
}


.block {
    display: inline-block;
    min-width: 15%;
    line-height: 3.5em;
    text-align: center;
}

.employee-picture {
    width: 18%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

    .employee-picture > img {
        width: 90%;
    }

.employee-info {
    width: 80%;
    display: inline-block;
}

.expense-picture {
    /*margin-left: 20%; 
    width: 80%;*/
    display: inline-block;


    

}

.expense-picture>img {
    max-width: 100%;
    
    border: 1px solid #fff;
    border-color: rgba(255,255,255,.3);

    -moz-border-radius-topleft: .6em /*{global-radii-blocks}*/;
    -webkit-border-top-left-radius: .6em /*{global-radii-blocks}*/;
    border-top-left-radius: .6em /*{global-radii-blocks}*/;
    -moz-border-radius-bottomleft: .6em /*{global-radii-blocks}*/;
    -webkit-border-bottom-left-radius: .6em /*{global-radii-blocks}*/;
    border-bottom-left-radius: .6em /*{global-radii-blocks}*/;

    -moz-border-radius-topright: .6em /*{global-radii-blocks}*/;
    -webkit-border-top-right-radius: .6em /*{global-radii-blocks}*/;
    border-top-right-radius: .6em /*{global-radii-blocks}*/;
    -moz-border-radius-bottomright: .6em /*{global-radii-blocks}*/;
    -webkit-border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
    border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
}