@using System.Web.Http
@using MyCompany.Expenses.Web.TestClient.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                @Html.ActionLink("Help Page Home", "Index")
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @Html.DisplayFor(m => Model)
    </section>
</div>
@Html.DisplayForModel("TestClientDialogs")

@section Scripts {
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/knockout-2.3.0.js"></script>
    @Html.DisplayForModel("TestClientReferences")
}