<!-- Breadcrumb -->
<ul class="breadcrumb">
    <li><a href="#/">Microsoft Graph SPA</a></li>
    <li class="active">SharePoint</li>
</ul>


<div class="row">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="site in sites">
                <td class="col-md-4">
                    <i class="fa fa-globe"
                       aria-hidden="true"></i>
                    <a href="#/sp/{{site.id}}">{{ site.webUrl }}</a>
                </td>
                <td class="col-md-4">{{ site.createdDateTime | date:'medium' }}</td>
                <td class="col-md-4">{{ site.lastModifiedDateTime | date:'medium' }}</td>
            </tr>
        </tbody>
    </table>
</div>
