
<div class="go-back-container transparent-on-tap" ng-click="goBack()">
    &lt;
    <span>go back</span>
</div>

<div class="visitor-info">
    <div class="box-avatar">
        <img src="{{visit.visitor.image}}" class="box-avatar-image" />
        <button class="box-avatar-button transparent-on-tap" ng-click="updatePicture()">Take picture</button>
    </div>

    <div class="box-info">
        <div class="info-up">
            <span class="box-name" ng-bind="visit.visitor.fullName"></span>
        </div>

        <div class="info">
            <ul>
                <li>
                    <span ng-bind="visit.visitor.company"></span>
                </li>
                <li>
                    <span>Date:</span> <span ng-bind="visit.visitDateTime | date:'dd/MM/yyyy'"></span>
                </li>
                <li>
                    <span>Time:</span> <span ng-bind="visit.visitDateTime | date:'shortTime'"></span>
                </li>
                <li>
                    <span>License plate:</span> <span ng-bind="visit.Plate"></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="section-title-container">
    <span>Visits to</span>
</div>

<div class="employee-info">
    <img src="{{visit.employee.image}}" class="box-avatar" />
    <div class="box-info">
        <div class="info-up">
            <span class="box-name" ng-bind="visit.employee.fullName"></span>
        </div>

        <span ng-bind="visit.employee.jobTitle"></span>
    </div>
</div>
