.employeeExpendingsPage section[role=main] {
    overflow-y: hidden;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
}

.employeeExpendingsPage .win-container:hover {
    outline: none;
    cursor: pointer;
}

.employeeExpendingsPage .back {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    margin-top: 60px;
    margin-left: 40px;
}

.employeeExpendingsPage .name {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    font-size: 50pt;
    color: #C4C331;
    padding-top: 30px;
}

#employeeExpendings {
    display: -ms-grid;
    -ms-grid-rows: 65px 426px 1fr;
    -ms-grid-columns: 120px 1fr;
    height: 100%;
}

    #employeeExpendings .title {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        color: #C4C4C4;
        font-size: 27pt;
        width: 100%;
        height: 100%;
    }

    #employeeExpendings .content {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 286px 390px 1fr;
        width: 100%;
        height: 100%;
    }

        #employeeExpendings .content .employeeContainer {
            -ms-grid-column: 1;
            display: -ms-grid;
            -ms-grid-rows: 293 1fr;
            -ms-grid-columns: 1fr;
            background-color: #C4C331;
        }

            #employee-photo {
                -ms-grid-row: 1;
                background-repeat: no-repeat;
                background-size: cover;
                height: 293px;
            }

            #employeeExpendings .content .employeeContainer .data-zone {
                -ms-grid-row: 2;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 25px;
            }
        
                #employeeExpendings .content .employeeContainer .data-zone .employee-expenses-title {
                    height: 35px;
                    font-size: 18pt;
                }

                #employeeExpendings .content .employeeContainer .data-zone .employee-expenses-amount {
                    font-size: 35pt;
                    font-weight: bold;
                    color: #FFFFFF;
                    text-align: right;
                }

                    #employeeExpendings .content .employeeContainer .data-zone .employee-expenses-amount .amount-part {
                        vertical-align: top;
                        line-height: 39pt;
                    }

                    #employeeExpendings .content .employeeContainer .data-zone .employee-expenses-amount .dollar-sign {
                        font-size: 20pt;
                        font-weight: normal;
                        vertical-align: super;
                        line-height:32pt;
                    }

    #employeeExpendings .timeExpendings {
        -ms-grid-column: 2;
         display: -ms-grid;
        -ms-grid-rows: 136px 9px 136px 9px 136px;
        -ms-grid-columns: 1fr;
        padding-left: 10px;
    }
        #employeeExpendings .timeExpendings .timeExpending {
            height: 136px;   
             display: -ms-grid;
            -ms-grid-rows: 35px 45px 1fr;
            color: white;
        }

   
        #employeeExpendings .timeExpendings .month {
            background-color: #A6A526;     
            -ms-grid-row: 1;
        }

        #employeeExpendings .timeExpendings .currentYear {
            background-color: #C4C331;            
            -ms-grid-row: 3;
        }

        #employeeExpendings .timeExpendings .lastYear {
            background-color: #BDBDBC;            
            -ms-grid-row: 5;
        }

        #employeeExpendings .timeExpendings .timeExpending div{
            padding-left: 12px;
            padding-right: 10px;
            width: 358px;
        }

        #employeeExpendings .timeExpendings .timeExpending .timeExpendingHeader {
            -ms-grid-row: 1;
            font-size: 18pt;
            font-weight: 100;
        }

        #employeeExpendings .timeExpendings .timeExpending .data {
            -ms-grid-row: 2;
            font-size: 25pt;
            vertical-align: top;
            line-height: 28pt;
        }

            #employeeExpendings .timeExpendings .timeExpending .data .amount {
                float: right;
                font-weight: bold;
            }
        

        #employeeExpendings .timeExpendings .timeExpending .expenseType {
            -ms-grid-row: 3;
            display: -ms-grid;
            -ms-grid-columns: 90px 90px 90px 90px;
        }

        #employeeExpendings .timeExpendings .timeExpending.month .expenseType {
            background-color: #8D8C0D;
        }

        #employeeExpendings .timeExpendings .timeExpending.currentYear .expenseType {
            background-color: #ABAA18;
        }

        #employeeExpendings .timeExpendings .timeExpending.lastYear .expenseType {
            background-color: #A4A4A3;
        }

        #employeeExpendings .timeExpendings .timeExpending .expenseType div {
            width: 55px;
            background-repeat: no-repeat;
            background-position-x: right 10px;
            background-position-y: 20px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: right;
            padding-right: 35px;
            height: 50px;
            padding-top: 20px;
            font-size: 16pt;
        }

        #employeeExpendings .timeExpendings .timeExpending .expenseType .travel{
            -ms-grid-column: 1;
            background-image: url('/images/expenseTypeTravelTiny.png');
        }
        #employeeExpendings .timeExpendings .timeExpending .expenseType .accommodation{
            -ms-grid-column: 2;
            background-image: url('/images/expenseTypeAccommodationTiny.png');
        }
        #employeeExpendings .timeExpendings .timeExpending .expenseType .food{
            -ms-grid-column: 3;
            background-image: url('/images/expenseTypeFoodTiny.png');
        }
        #employeeExpendings .timeExpendings .timeExpending .expenseType .others{
            -ms-grid-column: 4;
            background-image: url('/images/expenseTypeOthersTiny.png');
        }


    #employeeExpendings #expensesEvolution {
        -ms-grid-column: 3;
        padding-left: 10px;
        display: -ms-grid;
        height: 426px; 
        -ms-grid-rows: 1fr 53px;
        -ms-grid-columns: 1fr;
    }

    #employeeExpendings #expensesEvolution .months {
         -ms-grid-row: 1;
    }

    #employeeExpendings #expensesEvolution #button-bar {
        -ms-grid-row: 2;
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 40px 44px 44px 44px 44px 1fr;
    }


    #employeeExpendings #expensesEvolution .monthBar {
        height:27px;
        margin-top:0px;
        margin-bottom:4px;
    }

        #employeeExpendings #expensesEvolution .monthBar .left {
            height: 24px;
        }

        #employeeExpendings #expensesEvolution .monthBar .right {
            height: 24px;
        }


@media screen and (max-width: 500px){
    .employeeExpendingsPage .back {
        margin-left: 20px;
    }
    #employeeExpendings {
        -ms-grid-rows: 45px 1fr 30px;
        -ms-grid-columns: 20px 1fr;
        height: 100%;
    }

    .employeeExpendingsPage .back {
        padding-left: 0px;
    }

    #employeeExpendings .title {
        font-size: 16pt;
    }

    .employeeExpendingsPage .name {
        font-size: 16pt;
        padding-left: 20px;
        padding-top: 62px;
    }

    #employeeExpendings .content {
        -ms-grid-rows: 295px auto 1fr;
        -ms-grid-columns: 1fr;
        background-color: #FFFFFF;
        width: calc(100% - 20px);
        height: 100%;
    }

    #employeeExpendings .timeExpendings {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
         display: -ms-grid;
        -ms-grid-rows: 100px 2px 100px 2px 100px;
        -ms-grid-columns: 1fr;
        padding-left: 0px;
    }

        #employeeExpendings .timeExpendings .timeExpending {
            height: 100px;   
            -ms-grid-rows: 0px 45px 1fr;
        }

        #employeeExpendings .timeExpendings .timeExpending div{
            padding-left: 12px;
            padding-right: 10px;
            width: 258px;
        }

        #employeeExpendings .timeExpendings .timeExpending .timeExpendingHeader {
            display: none;
        }

        
        #employeeExpendings .timeExpendings .timeExpending .expenseType {
            -ms-grid-row: 3;
            display: -ms-grid;
            -ms-grid-columns: 67px 67px 67px 67px;
        }

        #employeeExpendings .timeExpendings .timeExpending .expenseType div {
            width: 32px;
            font-size: 12pt;
            background-position-x: right 5px;
        }

    #employeeExpendings .content .employeeContainer .data-zone {
        display: none;
    }

    #employeeExpendings .content .employeeContainer {
        height: 293px;
    }

    #employeeExpendings #expensesEvolution {
        display: none;
    }
}