.cus-btn-xs {
    padding: .25rem .4rem !important;
    font-size: .50rem !important;
    line-height: .5 !important;
    border-radius: .2rem;
}

.cus-num-input-sm {
    width: 3rem;
    font-size: 0.80rem;
}
