<link href="Content/form.css" rel="stylesheet" />
<div id="travel-detail">
    <div class="form-header">
        <div class="back-button" data-bind="{click: $root.back}" title="back"></div><span class="page-title">Travel details</span>
        <div data-bind="ifnot: $root.isUserMode" style="float: right">
            <div class="employee-data" data-bind="with: travelEntity">
                <div class="avatar">
                    <img class="avatar-img" data-bind="attr: { src: employee.picture }" alt="employee photo" />
                </div>
                <div class="employee-data-text">
                    <div>
                        <span class="row-text big" data-bind="text: employee.fullName"></span>
                    </div>
                    <div>
                        <span class="row-text" data-bind="text: employee.jobTitle"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-body row-fluid" data-bind="with: travelEntity">
        <div class="form-body-left span6">
            <ul>
                <li>
                    <label>Name</label>
                    <div class="row-fluid">
                        <div class="span11 row-text">
                            <span data-bind="text: name" />
                        </div>
                    </div>
                </li>
                <li>
                    <label>Type</label>
                    <div>
                        <span data-bind="visible: !$root.isOneWay()">Round trip</span>
                        <span data-bind="visible: $root.isOneWay()">One way</span>
                    </div>
                <li>
                    <div class="row-fluid">
                        <div class="span6">
                            <label>Origin</label>
                        </div>
                        <div class="span6">
                            <label>Destination</label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5 row-text">
                            <span data-bind="text: from" />
                        </div>
                        <div class="span5 offset1 row-text">
                            <span data-bind="text: to" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span6">
                            <label>Departing</label>
                        </div>
                        <div class="span6">
                            <label>Returning</label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <span data-bind="dateString: $data.depart, datePattern: 'MMMM DD, YYYY'" />
                        </div>
                        <div class="span6">
                            <span data-bind="dateString: $data.return, datePattern: 'MMMM DD, YYYY'" />
                        </div>
                    </div>
                <li>
                    <label>Description</label>
                    <div class="row-fluid">
                        <div class="span11 row-text-multiline" data-bind="text:  description">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="form-body-right span6">
            <ul>
                <li class="row-height">
                    <label>Transportation</label>
                    <div class="span11 row-text-multiline" data-bind="text:  transportationNeed"></div>
                </li>
                <li class="row-height">
                    <label>Accommodation</label>
                    <div class="span11 row-text-multiline" data-bind="text:  accommodationNeed"></div>
                </li>
                <li class="row-height">
                    <label>Comments</label>
                    <div class="span11 row-text-multiline" data-bind="text:  comments"></div>
                </li>
                <li>
                    <label>Related Project</label>
                    <div class="span11 row-text" data-bind="text:  relatedProject">
                    </div>
                </li>
            </ul>

            <div class="buttons" data-bind="if: $root.isManagerMode">
                <button class="button-box button-accept" data-bind="{click: $root.approve}" title="Approve this request"></button>
                <button class="button-box button-delete" data-bind="{click: $root.reject}" title="Reject this request"></button>
            </div>
            <div class="buttons" data-bind="if: $root.isRRHHMode">
                <button class="button-box button-accept" data-bind="{click: $root.check}" title="Mark as processed"></button>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div data-bind="if: travelEntity().attachments && travelEntity().attachments().length > 0">
        <div class="attachments-zone">
            <label>Attachments</label>
            <div class="attachments-container" data-bind="foreach: travelEntity().attachments">
                <div class="attachment">
                    <div class="text two-icons"><a class="link-file" href="#" data-bind="text: name, attr: { href: 'api/travelattachments/files/' + travelAttachmentId() }"></a></div>
                    <a class="link-file" href="#" data-bind="attr: { href: 'api/travelattachments/files/' + travelAttachmentId() }"><div class="icon download"></div></a>
                </div>

            </div>
        </div>
    </div>
</div>