<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ida:Audience" value="https://mycompanyvisitors.azurewebsites.net/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CacheEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CacheTimespan" value="1800" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="testModeIdentity" value="cesardl@mycompanydemos.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.identityModel>
    <identityConfiguration>
      <issuerNameRegistry type="MyCompany.Visitors.Web.MultiTenantIssuerNameRegistry, MyCompany.Visitors.Web" />
      <audienceUris>
        <add value="https://mycompanyvisitors.azurewebsites.net/"  xdt:Transform="Replace"/>
      </audienceUris>
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add type="MyCompany.Visitors.Web.CustomJwtSecurityTokenHandler,MyCompany.Visitors.Web" />
        <securityTokenHandlerConfiguration>
          <certificateValidation certificateValidationMode="None" />
          <issuerTokenResolver type="System.IdentityModel.Tokens.NamedKeyIssuerTokenResolver, System.IdentityModel.Tokens.Jwt">
          </issuerTokenResolver>
        </securityTokenHandlerConfiguration>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://login.windows.net/mycompanydemo.onmicrosoft.com/wsfed" 
                    realm="https://mycompanyvisitors.azurewebsites.net/" 
                    reply="https://mycompanyvisitors.azurewebsites.net/" 
                    requireHttps="true" xdt:Transform="SetAttributes(realm,reply)"/>
    </federationConfiguration>
  </system.identityModel.services>
  

  
</configuration>