@{
    ViewBag.Title = "my events - error";
}

<section id="error-page">
    <img src="@Url.Content("~/Styles/Images/error.png")" />

    <section id="message">
        <span id="title">error</span>
        The error has been recorded and our technical staff will review it as soon as possible.
        Please, try it again in a while.
    </section>
</section>