@{
    ViewBag.Title = "my events - error";
}

<section id="error-page">
    <aside>
        <img src="@Url.Content("~/Styles/Images/error.png")" /></aside>
    <header>
        <h1>error! grrr...</h1>
        <p>
            But the error has been recorded and our technical staff will review it as soon as possible!</p>

        <p>Please, try it again in a while.
        </p>
    </header>
</section>
