<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="EntityDataReaderTest.Properties.Settings.testConnectionString"
      connectionString="Data Source=(local);Initial Catalog=test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EntityDataReaderTest.Properties.Settings.AdventureWorksConnectionString"
      connectionString="Data Source=(local);Initial Catalog=AdventureWorks2012;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AdventureWorksEntities" connectionString="metadata=res://*/AdventureWorksEntities.csdl|res://*/AdventureWorksEntities.ssdl|res://*/AdventureWorksEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=AdventureWorks2012;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ObjectDataReaderTest.Properties.Settings.testConnectionString"
      connectionString="Data Source=(local);Initial Catalog=test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ObjectDataReaderTest.Properties.Settings.AdventureWorksConnectionString"
      connectionString="Data Source=(local);Initial Catalog=AdventureWorks2012;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
