<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Exemplo.WPF.MVVM.Properties.Settings.Database1ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Repository\Database1.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="Exemplo.WPF.MVVM.Properties.Settings.DatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Repository\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="Database1Entities" connectionString="metadata=res://*/Repository.Model1.csdl|res://*/Repository.Model1.ssdl|res://*/Repository.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Repository\Database1.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Database1Entities1" connectionString="metadata=res://*/Repository.Model1.csdl|res://*/Repository.Model1.ssdl|res://*/Repository.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Database1.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Repository.Model1.csdl|res://*/Repository.Model1.ssdl|res://*/Repository.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Repository\Database.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DatabaseEntities" connectionString="metadata=res://*/Repository.Model1.csdl|res://*/Repository.Model1.ssdl|res://*/Repository.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Database.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>