/*General fonts*/
/*General*/
/*Module*/
/*List*/
.time-line {
  height: 50px;
  background: url(Images/timeline-bg.png);
  background-repeat: repeat-x;
  background-position-y: 25px;
}
.time-line-tick {
  width: 82px;
  height: 40px;
  display: inline-block;
  background: url(Images/point-timeline2.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  color: #0d747d;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.time-line-tick.active,
.time-line-tick:hover {
  font-weight: bold;
  background: url(Images/point-timeline.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.time-line-tick:hover {
  color: #17b5c2;
}
.weekDays {
  margin-top: 20px;
  font-size: 0;
}
.cell {
  display: inline-block;
  width: 147px;
  margin-right: 1px;
  margin-bottom: 1px;
}
.day-header {
  display: inline-block;
  width: 147px;
  margin-right: 1px;
  margin-bottom: 1px;
  font-size: 16px;
  color: #0d747d;
}
.calendar {
  margin-top: 10px;
  font-size: 0;
}
.daySelected {
  cursor: pointer;
  background-color: #1498A3;
  background-color: #a8d8dc;
}
.daySelected .date,
.daySelected .status {
  color: white;
}
.daySelected .date {
  color: #105359;
}
.day {
  display: inline-block;
  width: 147px;
  margin-right: 1px;
  margin-bottom: 1px;
  height: 100px;
  background-color: #bae0e3;
  position: relative;
  color: #187B84;
  font-size: 14px;
}
.day.selectable {
  cursor: pointer;
}
.day.selected {
  cursor: pointer;
  background-color: #1498A3;
  background-color: #a8d8dc;
}
.day.selected .date,
.day.selected .status {
  color: white;
}
.day.selected .date {
  color: #105359;
}
.day .day-content {
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.day .date {
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.day .status-ico {
  height: 16px;
  width: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.day .status {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.isToday > .day-content {
  border: 2px solid #187B84;
}
.outOfMonth {
  background-color: #DFE0E0;
}
.vacation {
  cursor: pointer;
  background-color: #1498A3;
}
.vacation .date,
.vacation .status {
  color: white;
}
.approved .status-ico {
  background: url(Images/check.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.denied {
  background-color: #666666;
}
.denied .status-ico {
  background: url(Images/refused.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.pending {
  background-color: #888888;
}
.pending .status-ico {
  background: url(Images/clock.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.holiday {
  background-color: #7DD0D6;
}
.holiday.outOfMonth {
  background-color: #BEBFBF;
}
.holiday.outOfMonth.selected .day-content {
  cursor: pointer;
  background-color: #1498A3;
  background-color: #a8d8dc;
}
.holiday.outOfMonth.selected .day-content .date,
.holiday.outOfMonth.selected .day-content .status {
  color: white;
}
.holiday.outOfMonth.selected .day-content .date {
  color: #105359;
}
.add-comment-input {
  padding: 5px 5px;
  width: 310px;
}
.invalid {
  cursor: no-drop !important;
}
.invalid > .day {
  cursor: no-drop !important;
}
.calendar-help {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 25px;
}
.historic {
  font-size: 0;
  margin-bottom: 40px;
}
.historic-title {
  width: 147px;
  height: 30px;
  line-height: 30px;
  background-color: #17b5c2;
  color: white;
  text-align: center;
}
.historic-cell {
  display: inline-block;
  width: 147px;
  height: 50px;
  margin-right: 1px;
  margin-bottom: 1px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}
.historic-vacation {
  display: inline-block;
  width: 147px;
  height: 50px;
  margin-right: 1px;
  margin-bottom: 1px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: white;
  background-repeat: no-repeat;
  background-position: 8px 8px;
  background-color: #1498A3;
}
.historic-vacation.pending {
  background-color: #888888;
}
.historic-pending {
  display: inline-block;
  width: 147px;
  height: 50px;
  margin-right: 1px;
  margin-bottom: 1px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  background-color: #C5C6C6;
  color: white;
}
