@{
    ViewBag.Title = "SHANU CHART";
}
<table width="99%" style="border-bottom:3px solid #3273d5;">
    <tr>

        <td align="center">
            <h1>Welcome to SHANU Dynamic Chart Creation for MVC !</h1>
            <h2> Using AngularJS and JQuery</h2>
            <h3>This demo program aim is to programmer now directly draw their own Chart controls for MVC using AngularJS and JQuery</h3>
        </td>

    </tr>
</table>
   

<hr />
<h1>SHANU MVC Chart Features</h1>
<ul>
    <li>
        <b>    Chart Source Data:</b> Plot data from a database, data table, list, XML or any source depending on your requirements. The only thing you must do is to get the data from your source and bind the result to a Dropdown List. (With value and text. Here the value will be an integer for plotting the value and text to display in the label.)
    </li>
    <li>
        <b>
            Chart Number of Category:
        </b> Chart Items will be dynamically loaded from database. Here we will plot all the Items in Combobox. It’s good to plot less than 12 Items per chart.
    </li>
    <li>
        <b>
            Chart Title Text:
        </b>the User can add their own Pie Chart Title and dynamically change the titles if required. Here in my example I will draw the Title TextBox text at the bottom of the Pie Chart. (The user can redesign and customize depending on your requirements if needed).
    </li>
    <li>
        <b>
            Chart Water Mark Text:
        </b> In some cases we need to add our company name as Water Mark to our Pie Chart. Here in my example I will draw the Water Mark TextBox text at the center of the Pie Chart. (The user can redesign and customize depending on requirements.)
    </li>
    <li>
        <b>
             Chart Company LOGO:
        </b> The User can add their own company logo to the Pie Chart. (Here for example I added my own image as a log at the top-left corner. (The user can redesign and customize depending on requirements.)
    </li>
    <li>
        <b>
             Chart Alert Image Display:
        </b> You can see from the article the first image has labels, I have displayed the Pie Chart label text and alert image. If the “Alert On” radio button is checked I will display the alert image. If the “Alert Off” radio button is clicked then the alert image will not be displayed.
        What is the use of the alert image?

        Let's consider an actual project. For example we need to display the Pie chart for a Manufacturing factory with production result as Good and Bad. For example if the production result for each quality value is above 300 then we need to display the alert Green image and if the quality value is below 300 then we need to display the Red image with label bars.

        This alert image will be easy to identify each quality result with good or bad. (Here for example I have used 2 quality checks and display Green and Red images, but users can customize depending on your requirements and add your own image and logic.)
    </li>
    <li>
        <b>
             Save Chart as Image:
        </b>The user can save the Pie chart as an image.

        Here we can see the Pie Chart with another theme with a Blue base but without displaying the alert image.
    </li>
</ul>