<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Parameter Name="ModulesCatalog" Value="ModulesCatalog.xaml"/>
  <Parameter Name="DataServiceUrl" Value="http://localhost/RCE.Web/DataService.svc"/>
  <Parameter Name="AssetsDataServiceUrl" Value="http://localhost/RCE.Web/AssetsDataService.svc"/>
  <Parameter Name="LoggerServiceUri" Value="http://localhost/RCE.Web/LaggerService.svc"/>
  <Parameter Name="OutputServiceUrl" Value="http://localhost/RCE.Web/OutputService.svc"/>
  <Parameter Name="UserName" Value="RCE\Default" />
  <Parameter Name="CDN" Value="http://rcecdn" />
  <Parameter Name="MetadataFields" Value="Title;Duration;Frame Rate;Height;Width" />
  <Parameter Name="MaxNumberOfItems" Value="1000" />
  <Parameter Name="CommentTypes" Value="Global;Playhead;Shot;Ink" />
  <Parameter Name="UndoLevel" Value="20" />
  <Parameter Name="SearchWithinAssetsLimit" Value="15"/>
  <Parameter Name="MaxNumberOfAudioTracks" Value="2"/>
  <Parameter Name="SnapModeEnabled" Value="false"/>
  <Parameter Name="RippleModeEnabled" Value="false"/>
  <Parameter Name="DefaultFrameRate" Value="Smpte2997NonDrop"/>
  <Parameter Name="DefaultTimelineDurationInSeconds" Value="60"/>
  <Parameter Name="DefaultThumbnailImageUri" Value="http://localhost/RCE.Web/Images/DefaultThumbnail.jpg"/>
  <Parameter Name="CommentDurationInSeconds" Value="60"/>
  <Parameter Name="MinBitrate" Value="200000"/>
  <Parameter Name="MaxBitrate" Value="10000000"/>
  <Parameter Name="SingleBitrate" Value="true"/>
  <Parameter Name="KeyboardMappings" Value="RCE|http://localhost/RCE.Web/Mappings/RCEKeyboardMappings.xml;AVID|http://localhost/RCE.Web/Mappings/AVIDKeyboardMappings.xml;" />
  <Parameter Name="EnableChannelsConvention" Value="false"/>
  <Parameter Name="GapVideoUrl" Value="http://devplatem.vo.msecnd.net/RCEAzureDemo/gapvideo/gap.ism/manifest" />
  <Parameter Name="GapCMSId" Value="1234567890" />
  <Parameter Name="GapAzureId" Value="0987654321" />
  <Parameter Name="SearchIntegrationEnabled" Value="false" />
  <Parameter Name="SearchPopupUrl" Value="http://localhost/RCE.Web/popup.html"/>
  <Parameter Name="SearchPopupWidth" Value="800"/>
  <Parameter Name="SearchPopupHeight" Value="200"/>
  <Parameter Name="SnapToFragmentBoundaries" Value="false"/>
  <Parameter Name="LogEntryElementName" Value="InStreamEnvelope"/>
  <Parameter Name="LogDataElementName" Value="PlayByPlay"/>
  <Parameter Name="LogEntryPollingIntervalInSeconds" Value="60"/>
  <Parameter Name="LogEntrySourceUrl" Value="http://localhost/RCE.Web/media/logentries.xml"/>
  <!--supported modes are embedded | polling. in the future, web service will be available-->
  <Parameter Name="LogEntriesRetrievalMode" Value="embedded"/>
  <Parameter Name="TreatGapAsError" Value="false"/>
</Settings>