<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!-- Unity Application Block configuration element section type mapping -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="RoughCutEditorEntities" connectionString="metadata=res://*/RCEModel.csdl|res://*/RCEModel.ssdl|res://*/RCEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=RoughCutEditor;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="C:/Log/rolling.log" footer="----------------------------------------" formatter="Text Formatter" header="----------------------------------------" rollFileExistsBehavior="Overwrite" rollInterval="None" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling Flat File Trace Listener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="LogLevel" value="4" />
    <add key="BatchSize" value="1" />
    <add key="TracingEnabled" value="true" />
  </appSettings>
  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="transient" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="LoggerService" type="LAgger.ILoggerService, LAgger.Service" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <!-- Logger -->
          <type type="LoggerService" mapTo="LAgger.LoggerService, LAgger.Service">
            <lifetime type="singleton" />
          </type>

          <!-- Data Providers -->
          <!-- Demo Data Provider -->
          <type type="RCE.Services.Contracts.IDataProvider, RCE.Services.Contracts" mapTo="RCE.Data.Demo.DemoDataProvider, RCE.Data.Demo">
            <lifetime type="external" />
          </type>
          <!-- SQL Data Provider -->
          <!--
          <type type="RCE.Services.Contracts.IDataProvider, RCE.Services.Contracts"
                      mapTo="RCE.Data.Sql.DataProvider, RCE.Data.Sql">
            <lifetime type="external" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,
                                     Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="loggerService" parameterType="LoggerService">
                  <dependency/>
                </param>
                <param name="metadataLocator" parameterType="RCE.Services.Contracts.IMetadataLocator, RCE.Services.Contracts">
                  <dependency/>
                </param>
                <param name="defaultLibraryId" parameterType="System.Uri, System">
                  <value value="http://rce.litwareinc.com/id/1" type="System.Uri, System"/>
                </param>
              </constructor>
            </typeConfig>
          </type>
          -->

          <!-- Assets Data Providers -->
          <!-- Xml Assets Data Provider -->
          <type type="RCE.Services.Contracts.IAssetsDataProvider, RCE.Services.Contracts" mapTo="RCE.Data.Xml.XmlAssetsDataProvider, RCE.Data.Xml">
            <lifetime type="external" />
          </type>
          <!-- SQL Assets Data Provider -->
          <!--
          <type type="RCE.Services.Contracts.IAssetsDataProvider, RCE.Services.Contracts"
           mapTo="RCE.Data.Sql.DataProvider, RCE.Data.Sql">
            <lifetime type="external" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,
                                     Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="loggerService" parameterType="LoggerService">
                  <dependency/>
                </param>
                <param name="metadataLocator" parameterType="RCE.Services.Contracts.IMetadataLocator, RCE.Services.Contracts">
                  <dependency/>
                </param>
                <param name="defaultLibraryId" parameterType="System.Uri, System">
                  <value value="http://rce.litwareinc.com/id/1" type="System.Uri, System"/>
                </param>
              </constructor>
            </typeConfig>
          </type>
          -->

          <!-- Demo Assets Data Provider -->
          <!--
          <type type="RCE.Services.Contracts.IAssetsDataProvider, RCE.Services.Contracts" 
                mapTo="RCE.Data.Demo.DemoDataProvider, RCE.Data.Demo">
              <lifetime type="external"/>            
          </type>
          -->
          <!--
          <type type="RCE.Services.Contracts.IAssetsDataProvider, RCE.Services.Contracts" 
                mapTo="RCE.Data.SharePoint.SharePointDataProvider, RCE.Data.SharePoint">
              <lifetime type="external"/>            
          </type>
          -->
          <!-- FileSystem Assets Data Provider -->
          <!--
          <type type="RCE.Services.Contracts.IAssetsDataProvider, RCE.Services.Contracts"
                mapTo="RCE.Data.FileSystem.FileSystemAssetsDataProvider, RCE.Data.FileSystem">
              <lifetime type="external" />
            </type>
          -->
          <!-- Metadata Locator -->
          <type type="RCE.Services.Contracts.IMetadataLocator, RCE.Services.Contracts" mapTo="RCE.Services.Metadata.MetadataLocator, RCE.Services">
            <lifetime type="external" />
          </type>
          <!-- Metadata Strategies -->
          <type type="RCE.Services.Contracts.IMetadataStrategy, RCE.Services.Contracts" mapTo="RCE.Metadata.Strategies.WMMetadataStrategy, RCE.Metadata.Strategies" name="WMMetadataStrategy">
            <lifetime type="external" />
          </type>
          <type type="RCE.Services.Contracts.IMetadataStrategy, RCE.Services.Contracts" mapTo="RCE.Metadata.Strategies.ImageMetadataStrategy, RCE.Metadata.Strategies" name="ImageMetadataStrategy">
            <lifetime type="external" />
          </type>
          <type type="RCE.Services.Contracts.IMetadataStrategy, RCE.Services.Contracts" mapTo="RCE.Metadata.Strategies.SmoothStreamingMetadataStrategy, RCE.Metadata.Strategies" name="SmoothStreamingMetadataStrategy">
            <lifetime type="external" />
          </type>
        </types>
      </container>
    </containers>
  </unity>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <extensions>
      <behaviorExtensions>
        <add name="unity" type="RCE.Services.Infrastructure.UnityBehaviorExtensionElement, RCE.Services.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="silverlightFaults" type="RCE.Services.Infrastructure.SilverlightFaultBehaviorExtensionElement, RCE.Services.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" maxMessagesToLog="20" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="LargeBuffer" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="LAgger.LoggerService" behaviorConfiguration="LoggerServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="LAgger.ILoggerService" bindingConfiguration="LargeBuffer">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="RCE.Services.DataService" behaviorConfiguration="UnityServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="SilverlightFaultBehavior" contract="RCE.Services.Contracts.IDataService" bindingConfiguration="LargeBuffer">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="RCE.Services.Contracts.IDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="RCE.Services.AssetsDataService" behaviorConfiguration="UnityServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="SilverlightFaultBehavior" contract="RCE.Services.Contracts.IAssetsDataService" bindingConfiguration="LargeBuffer">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="RCE.Services.OutputService" behaviorConfiguration="UnityServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="SilverlightFaultBehavior" contract="RCE.Services.Contracts.IOutputService" bindingConfiguration="LargeBuffer">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LoggerServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="UnityServiceBehavior">
          <unity />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
        <behavior name="SilverlightFaultBehavior">
          <silverlightFaults />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.15.0" newVersion="2.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
