<div class="modal small autoclose">
    <div class="modal-header">
        <span class="title-modal" data-bind="html: title"></span>
        <button class="button-close" data-bind="click: cancel"></button>
    </div>
    <div class="modal-body modal-body-padding">
        <div class="modal-body-in">
            <span class="body-in-title">From</span>
            <span class="main-text main-text-visited" data-bind="text: startDay"></span>
        </div>
        <div class="modal-body-in">
            <span class="body-in-title">To</span>
            <span class="main-text main-text-visited" data-bind="text: endDay"></span>
        </div>
        <div class="modal-body-in">
            <span class="body-in-title">Days</span>
            <span class="main-text main-text-visited" data-bind="text: workDays"></span>
        </div>
        <div class="clear"></div>
        <div>
            <input class="add-comment-input" type="text" placeholder="add a comment..." data-bind="value: comment" maxlength="150" />
        </div>
        <div class="clear"></div>
        <div class="contain-buttons">
            <button class="button-primary button-propierties save-float autofocus" data-bind="click: accept">Request days </button>
        </div>
        <div class="clear"></div>
    </div>
</div>
