<section class="view">
    <div class="time-line" data-bind="foreach: months">
        <div class="time-line-tick" data-bind="css: {active: isSelected}, click: $parent.selectMonth">
            <span data-bind="text: name"></span>
        </div>
    </div>

    <div class="weekDays" data-bind="foreach: weekDays">
        <div class="day-header">
            <span data-bind="text: $data"></span>
        </div>
    </div>
    <div class="calendar" data-bind="foreach: days, calendarSelection: isSelecting">
        <div class="day" data-bind="click: $parent.openDetail, attr:{id: $index}, css: {selectable: isSelectable(), selected: isSelected, holiday: isHoliday, outOfMonth: isOutOfMonth, vacation: isVacation, isToday: isToday, approved: isApproved, denied: isDenied, pending: isPending}">
            <div class="day-content">
                <span class="date" data-bind="text: day"></span>
                <span class="status" data-bind="text: status()"></span>
                <span class="status-ico"></span>
            </div>
        </div>
    </div>
    <aside class="calendar-help">
        Click and drag on the calendar to request new vacation days
    </aside>
    <div class="historic-title">
        <span>Your</span>
        <span data-bind="text: year"></span>
        <span>vacations</span>
    </div>
    <div class="historic">
        <!-- ko foreach: userVacationDays -->
        <div class="historic-vacation" data-bind="css: {pending: isPending}">
            <span data-bind="text: displayDate"></span>
        </div>
        <!-- /ko -->
        <!-- ko foreach: pendingVacationDays -->
        <div class="historic-pending">
            <span data-bind="text: $data"></span>
        </div>
        <!-- /ko -->
    </div>


</section>
