<section class="view">
    <div class="time-line" data-bind="foreach: months">
        <div class="time-line-tick" data-bind="css: { active: isSelected }, click: $parent.selectMonth">
            <span data-bind="text: name"></span>
        </div>
    </div>
    <div class="overlaps">
        <div class="days-header">
            <!-- ko foreach: currentMonthDays -->
            <div class="day-header">
                <span data-bind="text: $data"></span>
            </div>
            <!-- /ko -->
        </div>
        <!-- ko foreach: teamVacations -->
        <div class="employee-line">
            <div class="avatar">
                <img class="avatar-img" data-bind="attr: { src: employee.picture }" alt="team member photo" />
            </div>
            <!-- ko foreach: days -->
            <div class="day-cell" data-bind="click: $root.openDetail, css: {holiday: isHoliday, vacation: isVacation, approved: isApproved, denied: isDenied, pending: isPending}">
                <div class="day-cell-content"></div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</section>