<section class="view fixed">
    <header>
        <div class="content-input">
            <input autofocus="autofocus" class="input-search" type="text" placeholder="Search vacation requests" data-bind="value: filter, valueUpdate: 'afterkeydown'">
        </div>
        <div class="content-statistics">
            <div class="subcontent-statistics">
                <span class="words-statistics">Team vacation requests</span>
            </div>
            <div class="main-number-statistics">
                <span data-bind="text: teamVacationsCount"></span>
            </div>
            <button class="refresh-button" data-bind="click: refresh">
            </button>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </header>
    <!-- ko if: !anyRecord()-->
    <section class="list-no-articles">
        No records found
    </section>
    <!-- /ko -->​
    <!-- ko if: anyRecord()-->
    <section data-bind="foreach: teamVacations">
        <article class="article-of-list">
            <div class="avatar">
                <img class="avatar-img" data-bind="attr: { src: employee.picture }" alt="team member photo" />
            </div>
            <div class="employee-info">
                <span class="name" data-bind="text: employee.fullName"></span>
                <span class="company-name" data-bind="text: employee.jobTitle"></span>
            </div>
            <div class="dates-statistics">
                <div>
                    <span class="date-month" data-bind="text: friendlyDatesInterval"></span>
                </div>
                <div class="requested-days-info">
                    <span class="requested-number top center" data-bind="text: numDays"></span>
                    <span class="requested-text">Requested</span>
                </div>
                <div class="multi-line-ellipsis" data-bind="text: comments, attr:{title: comments}" >
                </div>
            </div>
            <button class="button-box button-accept" type="button" data-bind="click: $parent.acceptVacation" title="Accept"></button>
            <button class="button-box button-reject" type="button" data-bind="click: $parent.rejectVacation" title="Reject"></button>
            <div class="clear"></div>
        </article>
    </section>
    <section class="content-pagination">
        <ul data-bind="foreach: pages">
            <li data-bind="css: { active: activated}">
                <div data-bind="{if: clickable}">
                    <a href="#" data-bind="{text: number, click: $root.paginate}"></a>
                </div>
                <div data-bind="{if: !clickable}">...</div>
            </li>
        </ul>
        <div class="content-arrows">
            <div class="arrow-type">
                <button class="arrow" data-bind="click: previousPage"><</button>
            </div>
            <div class="arrow-type margin-arrow">
                <button class="arrow" data-bind="click: nextPage">></button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </section>
    <!-- /ko -->
</section>