<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="PulseUrl" value="http://localhost:8014"></add>
    <add key="Token" value="48a2000467394b008938cc77b4529e3a"></add>
    <add key="ApplicationSecret" value="Owin and SignalR is cool!"></add>
  </appSettings>
</configuration>