<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="694a9999-444a-4959-b985-2d4ea89ae77d" Publisher="CN=Admin" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MessageBoxSample</DisplayName>
    <PublisherDisplayName>Admin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="InstanceFactory.MessageBoxSample.App">
      <VisualElements DisplayName="MessageBox Sample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Sample showing an implementation of a MessageBox in Windows Store apps. For details see http://blog.instance-factory.com/?p=898" ForegroundText="light" BackgroundColor="#376092">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>